/* =============================================================================
---------------------------------------LAYOUT-----------------------------------
==============================================================================*/

/* =============================================================================
---------------------------------------COLORS-----------------------------------
============================================================================*/

/*$secondarycolor: $(secondary_color);*/

/*$secondarycontrastcolor: $(secondary_contrast_color);*/

/*$headingcolor: $(heading_color);*/

/*$bodytext: $(text_color);*/

/*$backgroundcolor: $(background_color);*/

/* =============================================================================
------------------------------------MEDIAQUERIES--------------------------------
==============================================================================*/

/* =============================================================================
------------------------------------LINES--------------------------------
==============================================================================*/

.slarge-t-left {}

.slarge-t-middle {}

.slarge-t-right {}

.slarge-row {}

.slarge-row > * {}

/******* BACKROUND COLORS ***********/

.bkgrnd-white {}

.bkgrnd-secondary-white {}

.bkgrnd-light-grey {}

.bkgrnd-blue {}

.bkgrnd-yellow {}

.bkgrnd-green {}

.bkgrnd-light-blue {}

.bkgrnd-grey {}

.bkgrnd-dark {}

.bkgrnd-black {}

.bkgrnd-red {}

.dsktp-bkgrnd-white {}

.dsktp-bkgrnd-secondary-white {}

.dsktp-bkgrnd-light-grey {}

.dsktp-bkgrnd-blue {}

.dsktp-bkgrnd-yellow {}

.dsktp-bkgrnd-green {}

.dsktp-bkgrnd-light-blue {}

.dsktp-bkgrnd-grey {}

.dsktp-bkgrnd-dark {}

.dsktp-bkgrnd-red {}

.dsktp-bkgrnd-black {}

/******* TEXT COLORS ***********/

.text-white {

    color: #fff
}

.text-light-grey {

    color: #b9b6b6
}

.text-dark-grey {

    color: #696666
}

.text-blue {

    color: #448dde
}

.text-yellow {

    color: #f9b202
}

.text-green {

    color: #64c073
}

.text-light-blue {

    color: #b3d4fc
}

.text-grey {

    color: #9F9FAF
}

.text-red {

    color: #e82110
}

.text-dark {

    color: #4F3F5F
}

.slarge-percent-height-100 {}

.slarge-percent-height-90 {}

.slarge-percent-height-80 {}

.slarge-percent-height-70 {}

.slarge-percent-height-60 {}

.slarge-percent-height-50 {}

.slarge-percent-height-40 {}

.slarge-percent-height-30 {}

.slarge-percent-height-20 {}

.slarge-percent-height-10 {}

.slarge-viewport-height-100 {}

.slarge-viewport-height-90 {}

.slarge-viewport-height-80 {}

.slarge-viewport-height-70 {}

.slarge-viewport-height-60 {}

.slarge-viewport-height-50 {}

.slarge-viewport-height-40 {}

.slarge-viewport-height-30 {}

.slarge-viewport-height-20 {}

.slarge-viewport-height-10 {}

/*@import "partials/screens/large/icons";*/

/*@import "partials/screens/large/typicons";*/

*, ul, figure {

    box-sizing: border-box;

    padding: 0px;

    margin: 0px;

    border: 0;

    font: inherit;

    vertical-align: baseline;

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center
}

li {

    list-style-type: none
}

address {

    font-style: normal
}

a, img {

    border: none
}

sup, sub {

    font-size: 0.5rem;

    -webkit-transform: translateX(100%);

            transform: translateX(100%)
}

a {

    text-decoration: none
}

img, video {

    max-width: 100%
}

body {

    overflow-x: hidden
}

button, a {

    background: none;

    border: none;

    color: inherit;

    font-family: inherit
}

input {

    background: none;

    border: none;

    text-align: inherit;

    font-size: inherit;

    font-family: inherit;

    color: inherit;

    outline: 0px
}

h1, h2, h3, h4, h5, h6, .header-font {

    margin: 0px
}

/*Use inline-block to make elements stack side-by-side (create a row of elements)*/

.inline-block {

    display: inline-block
}

/*Use this on an element containing elements that has the 'inline-block' class */

/*Browsers insert a 4px white-space in-between inline-blocks, so if create two 50% inline-block, they won't stay on the same line because the browser has added 4px in-between them, use the class 'inline-blks-container' on the immediate parent element containing the blocks to remove the 4px white-space*/

::-postcss-media-variables {

    /* If you can see this comment, you might have forgotten to add
postcss-media-variables to the plugin list for a second time.

Otherwise, it's a bug :) Sorry
Please report here: https://github.com/WolfgangKluge/postcss-media-variables/issues*/
}

::-postcss-media-variables {

    /* If you can see this comment, you might have forgotten to add
postcss-media-variables to the plugin list for a second time.

Otherwise, it's a bug :) Sorry
Please report here: https://github.com/WolfgangKluge/postcss-media-variables/issues*/
}

/**********

The benefit of using 'inline-block' for layout is that you can easily align elements (example: an inline-block div) to the right, left or center with `text-align: left/right/center;`. Make elements behave like block elements by just making their width 100%.

***********/

/* MISCELLANEOUS */

.relative {

    position: relative
}

.back-one-step {

    z-index: -1
}

.background-image-cover-centered {

    background-size: cover;

    background-position: center center;

    background-repeat: no-repeat
}

::-postcss-media-variables {

    /* If you can see this comment, you might have forgotten to add
postcss-media-variables to the plugin list for a second time.

Otherwise, it's a bug :) Sorry
Please report here: https://github.com/WolfgangKluge/postcss-media-variables/issues*/
}

::-postcss-media-variables {

    /* If you can see this comment, you might have forgotten to add
postcss-media-variables to the plugin list for a second time.

Otherwise, it's a bug :) Sorry
Please report here: https://github.com/WolfgangKluge/postcss-media-variables/issues*/
}

.slarge-z-index-0 {}

.slarge-z-index-1 {}

.slarge-z-index-2 {}

.slarge-position-absolute {}

.slarge-position-fixed {}

.slarge-top-0 {}

.slarge-left-0 {}

.slarge-right-0 {}

.slarge-bottom-0 {}

.slarge-left-50percent {}

.slarge-top-50percent {}

.slarge-translate-x--50percent {}

.slarge-translate-x--50percent-y--50percent {}

.slarge-translate-y--50percent {}

.slarge-padding0125 {}

.slarge-padding025 {}

.slarge-padding {}

.slarge-padding05 {}

.slarge-padding2 {}

.slarge-padding4 {}

.slarge-padding-h05 {}

.slarge-padding-h05 {}

.slarge-padding-h {}

.slarge-padding-h {}

.slarge-padding-h2 {}

.slarge-padding-h2 {}

.slarge-padding-h4 {}

.slarge-padding-h4 {}

.slarge-padding-h6 {}

.slarge-padding-h6 {}

.slarge-padding-v05 {}

.slarge-padding-v05 {}

.slarge-padding-v {}

.slarge-padding-v {}

.slarge-padding-v2 {}

.slarge-padding-v2 {}

.slarge-padding-v4 {}

.slarge-padding-v4 {}

.slarge-padding-h-right05 {}

.slarge-padding-h-right {}

.slarge-padding-h-right2 {}

.slarge-padding-h-right4 {}

.slarge-padding-h-left {}

.slarge-padding-h-left2 {}

.slarge-padding-h-left4 {}

.slarge-padding-v-bottom05 {}

.slarge-padding-v-bottom {}

.slarge-padding-v-bottom2 {}

.slarge-padding-v-bottom4 {}

.slarge-padding-v-top05 {}

.slarge-padding-v-top {}

.slarge-padding-v-top2 {}

.slarge-padding-v-top4 {}

.slarge-margin {}

.slarge-margin2 {}

.slarge-margin4 {}

.slarge-margin-h05 {}

.slarge-margin-h05 {}

.slarge-margin-h {}

.slarge-margin-h {}

.slarge-margin-h2 {}

.slarge-margin-h2 {}

.slarge-margin-h4 {}

.slarge-margin-h4 {}

.slarge-margin-v05 {}

.slarge-margin-v05 {}

.slarge-margin-v {}

.slarge-margin-v {}

.slarge-margin-v2 {}

.slarge-margin-v2 {}

.slarge-margin-v4 {}

.slarge-margin-v4 {}

.slarge-margin-v6 {}

.slarge-margin-v6 {}

.slarge-margin-h-right {}

.slarge-margin-h-right2 {}

.slarge-margin-h-right4 {}

.slarge-margin-h-left {}

.slarge-margin-h-left2 {}

.slarge-margin-h-left4 {}

.slarge-margin-v4 {}

.slarge-margin-v-bottom05 {}

.slarge-margin-v-bottom {}

.slarge-margin-v-bottom2 {}

.slarge-margin-v-bottom4 {}

.slarge-margin-v-top {}

.slarge-margin-v-top2 {}

.slarge-margin-v-top4 {}

.slarge-margin-v-top6 {}

html, body {

    font-family: "Mada", sans-serif;

    font-weight: 400;

    font-style: normal
}

.icon-medium-size {}

.icon-normal-size {}

.icon-small-size {}

.icon-tiny-size {}

/*********** HELPER TYPOGRAPHY CLASSES *********/

.slarge-uppercase {}

.slarge-capitalize {}

.slarge-underline {}

.slarge-strikethrough {}

.slarge-bold {}

.slarge-medium {}

.slarge-normalweight {}

.slarge-slim {}

.slarge-thin {}

.slarge-wide-spacing {}

.slarge-medium-spacing {}

.slarge-small-spacing {}

.slarge-neg-spacing {}

.slarge-line-height-small {}

.slarge-line-height-medium {}

.slarge-line-height-large {}

.slarge-alternate-font {}

/* Font sizes */

.slarge-type-extra-large {}

.slarge-type-very-large {}

.slarge-type-large {}

.slarge-type-low-large {}

.slarge-type-moremedium {}

.slarge-type-medium {}

.slarge-type-normal {}

.slarge-type-small {}

.slarge-type-very-small {}

.slarge-border-1px {}

.slarge-border-1px-dotted {}

.slarge-border-1px-bottom {}

.slarge-border-1px-left {}

.slarge-border-1px-right {}

.slarge-border-1px-top {}

.dsktp-largeborder {}

.dsktp-largeborder-dotted {}

.dsktp-largeborder-bottom {}

.dsktp-largeborder-left {}

.dsktp-largeborder-right {}

.dsktp-largeborder-top {}

.dsktp-mediumborder {}

.dsktp-border-grey {}

.dsktp-border-dark-grey {}

.dsktp-border-blue {}

.dsktp-border-dark {}

.dsktp-border-red {}

.dsktp-border-green {}

.dsktp-default-radius-small {}

.dsktp-default-radius {}

::-postcss-media-variables {

    /* If you can see this comment, you might have forgotten to add
postcss-media-variables to the plugin list for a second time.

Otherwise, it's a bug :) Sorry
Please report here: https://github.com/WolfgangKluge/postcss-media-variables/issues*/
}

::-postcss-media-variables {

    /* If you can see this comment, you might have forgotten to add
postcss-media-variables to the plugin list for a second time.

Otherwise, it's a bug :) Sorry
Please report here: https://github.com/WolfgangKluge/postcss-media-variables/issues*/
}

.half-transparent {

    opacity: 0.5
}

.nearly-transparent {

    opacity: 0.1
}

.twenty-transparent {

    opacity: 0.2
}

.slightly-transparent {

    opacity: 0.88
}

.small-box-shadow {

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05), -1px 0px 2px rgba(0, 0, 0, 0.05)
}

.card-box-shadow {

    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.05)
}

.card-box-shadow-bottom {

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05)
}

.circle {

    border-radius: 50%
}

.pointer {

    cursor: pointer
}

.icon-square-small {

    height: 2rem;

    width: 2rem
}

.icon-square-normal {

    height: 3rem;

    width: 3rem
}

.icon-square-medium {

    height: 4rem;

    width: 4rem
}

.icon-square-large {

    height: 6rem;

    width: 6rem
}

.transition-short {

    transition: 0.2s
}

.emerge:hover {

    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1)
}

.transition-short {

    transition: all 0.2s
}

.transition-normal {

    transition: all 0.4s
}

.transition-long {

    transition: all 1s
}

.vibrate:hover {

    -webkit-animation: vibrate 0.1s ease-out 3;

            animation: vibrate 0.1s ease-out 3
}

@-webkit-keyframes vibrate {

    0% {

        -webkit-transform: translateX(-0.5px);

                transform: translateX(-0.5px)
    }

    100% {

        -webkit-transform: translateX(1px);

                transform: translateX(1px)
    }
}

@keyframes vibrate {

    0% {

        -webkit-transform: translateX(-0.5px);

                transform: translateX(-0.5px)
    }

    100% {

        -webkit-transform: translateX(1px);

                transform: translateX(1px)
    }
}

.slarge-percent-width-1 {}

.slarge-percent-width-1-2 {}

.slarge-percent-width-1-3 {}

.slarge-percent-width-2-3 {}

.slarge-percent-width-1-4 {}

.slarge-percent-width-3-4 {}

.slarge-percent-width-1-5 {}

.slarge-percent-width-2-5 {}

.slarge-percent-width-3-5 {}

.slarge-percent-width-4-5 {}

.slarge-percent-width-1-6 {}

.slarge-percent-width-5-6 {}

.slarge-percent-width-1-8 {}

.slarge-percent-width-3-8 {}

.slarge-percent-width-5-8 {}

.slarge-percent-width-7-8 {}

.slarge-percent-width-1-10 {}

.slarge-percent-width-3-10 {}

.slarge-percent-width-7-10 {}

.slarge-percent-width-9-10 {}

.slarge-percent-width-1-12 {}

.slarge-percent-width-5-12 {}

.slarge-percent-width-7-12 {}

.slarge-percent-width-11-12 {}

/* Viewport */

.slarge-viewport-width-1 {}

.slarge-viewport-width-1-2 {}

.slarge-viewport-width-1-3 {}

.slarge-viewport-width-2-3 {}

.slarge-viewport-width-1-4 {}

.slarge-viewport-width-3-4 {}

.slarge-viewport-width-1-5 {}

.slarge-viewport-width-2-5 {}

.slarge-viewport-width-3-5 {}

.slarge-viewport-width-4-5 {}

.slarge-viewport-width-1-6 {}

.slarge-viewport-width-5-6 {}

.slarge-viewport-width-1-8 {}

.slarge-viewport-width-3-8 {}

.slarge-viewport-width-5-8 {}

.slarge-viewport-width-7-8 {}

.slarge-viewport-width-1-10 {}

.slarge-viewport-width-3-10 {}

.slarge-viewport-width-7-10 {}

.slarge-viewport-width-9-10 {}

.slarge-viewport-width-1-12 {}

.slarge-viewport-width-5-12 {}

.slarge-viewport-width-7-12 {}

.slarge-viewport-width-11-12 {}

body {

    overflow: hidden;

    font-family: sans-serif
}

.app {

    display: -ms-grid;

    display: grid;

    min-height: 100vh;

    -ms-grid-columns: (1fr)[48];

        grid-template-columns: repeat(48, 1fr);

    -ms-grid-rows: (calc(100vw / 48))[auto-fill];

        grid-template-rows: repeat(auto-fill, calc(100vw / 48))

    /*transition: transform 1s;*/

    /*transform-origin: top left;*/
}

.app > *:first-child {

    grid-column: 1 / 21;

    grid-row: 1 / max;

    display: -ms-grid;

    display: grid;

    -ms-grid-columns: (1fr)[20];

        grid-template-columns: repeat(20, 1fr);

    -ms-grid-rows: (calc(100vw / 48))[auto-fill];

        grid-template-rows: repeat(auto-fill, calc(100vw / 48))

    /*background-color: #784BA0;*/
}

.app > *:nth-child(2n) {

    grid-column: 21 / 31;

    grid-row: 1 / max;

    display: -ms-grid;

    display: grid;

    -ms-grid-columns: (1fr)[10];

        grid-template-columns: repeat(10, 1fr);

    -ms-grid-rows: (calc(100vw / 48))[auto-fill];

        grid-template-rows: repeat(auto-fill, calc(100vw / 48))
}

.app > *:nth-child(3n) {

    grid-column: 31 / 49;

    grid-row: 1 / max;

    display: -ms-grid;

    display: grid;

    -ms-grid-columns: (1fr)[18];

        grid-template-columns: repeat(18, 1fr);

    -ms-grid-rows: (calc(100vw / 48))[auto-fill];

        grid-template-rows: repeat(auto-fill, calc(100vw / 48))
}

.core-values {

    display: -ms-grid;

    display: grid;

    -ms-grid-columns: (1fr)[12];

        grid-template-columns: repeat(12, 1fr);

    -ms-grid-rows: (calc(100vw / 48))[auto-fill];

        grid-template-rows: repeat(auto-fill, calc(100vw / 48));

    grid-column: 5 / 17;

    grid-row: 5 / 13;

    margin-top: calc( (100vh - 100vw / 1.7789336801) / 2 )
}

.core-details {

    grid-column: 5 / 17;

    grid-row: 17 / 22;

    margin-top: calc( (100vh - 100vw / 1.7789336801) / 2 )
}

.values {

    display: -ms-grid;

    display: grid;

    grid-column: 1 / max;

    grid-row: 1 / 7;

    -ms-grid-columns: (1fr)[12];

        grid-template-columns: repeat(12, 1fr);

    -ms-grid-rows: (calc(100vw / 48))[auto-fill];

        grid-template-rows: repeat(auto-fill, calc(100vw / 48))
}

.value-item, .agency-text {

    display: -ms-grid;

    display: grid;

    grid-column: 1 / max;

    -ms-grid-row-align: end;

        align-self: end;

    line-height: 0.8
}

.value-item.one {

    grid-row: 1 / 3;

    letter-spacing: calc(100vw / 240)
}

.value-item.two {

    grid-row: 3 / 5;

    letter-spacing: calc(100vw / 144)
}

.value-item.three {

    grid-row: 5 / max;

    letter-spacing: calc(100vw / 144)
}

.agency-text {

    grid-row: 7 / 9;

    letter-spacing: calc(100vw / 120)
}

.value-item.main::before {

    content: attr(data-text);

    position: absolute;

    top: 0px;

    left: 0px;

    width: 100%;

    height: 100%;

    -webkit-transform: translateY(-100%);

            transform: translateY(-100%);

    transition: all 0.5s 0.75s;

    /*animation: newText 10s infinite;*/

    z-index: 1;

    opacity: 0;

    background-color: #4F3F5F;

    text-transform: uppercase
}

.value-item.main::after {

    content: '';

    position: absolute;

    top: 0px;

    left: 0px;

    width: 100%;

    height: 100%;

    -webkit-transform: translateX(-100%);

            transform: translateX(-100%);

    transition: all 1s;

    /*animation: coverText 5s infinite;*/

    z-index: 0;

    /*opacity: 0*/

    background-color: #4F3F5F;

    text-transform: uppercase
}

.value-item.start.main::after, .value-item.start.main::before {

    -webkit-transform: translateY(0%);

            transform: translateY(0%);

    opacity: 1
}

@-webkit-keyframes newText {

    0% {

        -webkit-transform: translateY(-100%);

                transform: translateY(-100%)
    }

    45% {

        -webkit-transform: translateY(-100%);

                transform: translateY(-100%)
    }

    50% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }

    100% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }
}

@keyframes newText {

    0% {

        -webkit-transform: translateY(-100%);

                transform: translateY(-100%)
    }

    45% {

        -webkit-transform: translateY(-100%);

                transform: translateY(-100%)
    }

    50% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }

    100% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }
}

@-webkit-keyframes coverText {

    0% {

        -webkit-transform: translateX(-100%);

                transform: translateX(-100%)
    }

    80% {

        -webkit-transform: translate(-100%);

                transform: translate(-100%)
    }

    100% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }
}

@keyframes coverText {

    0% {

        -webkit-transform: translateX(-100%);

                transform: translateX(-100%)
    }

    80% {

        -webkit-transform: translate(-100%);

                transform: translate(-100%)
    }

    100% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }
}

/*.main-column-2 {
  background-color: #784BA0;
}

.nav-ul {
  display: grid;

  grid-column: 3 / 9;
  grid-row: 5 / 23;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto-fill, calc(100vw / 48));

  margin-top: calc( (100vh - 100vw / 1.7789336801) / 2 );
}*/

/*.nav-item {
  grid-column: 1 / max;
  align-self: end;

  line-height: 0.8;

  background-image: linear-gradient(180deg,transparent 70%, rgba(185, 182, 182, 0.3) 78%, transparent 0);
}

.nav-item:first-child {
  grid-row: 1 / 3;
}

.nav-item:nth-child(2n) {
  grid-row: 5 / 7;
}

.nav-item:nth-child(3n) {
  grid-row: 9 / 11;
}

.nav-item:nth-child(4n) {
  grid-row: 13 / 15;
}

.nav-item:nth-child(5n) {
  grid-row: 17 / 19;
}*/

.main-column-3 .member {

    height: 300px;

    width: 300px;

    background-image: url('../media/promise.jpg');

    background-size: cover;

    background-position: center;

    -webkit-filter: contrast(160%);

            filter: contrast(160%);

    overflow-y: scroll
}

.clients-logo {

    /*display: grid;*/

    /*grid-column: 3 / 17;*/

    /*grid-row: 5 / max;*/

    width: calc(calc(100vw / 48) * 14)

    /*grid-template-columns: repeat(14, 1fr);*/

    /*grid-template-rows: repeat(auto-fill, calc(100vw / 48));*/
}

.client-logo {

    /*grid-column: 1 / 7;*/

    height: calc((100vw / 48) * 5);

    width: calc((100vw / 48) * 5)
}

.client-logo::before {

    /*content: '';*/

    position: absolute;

    top: 5px;

    left: 5px;

    width: 100%;

    height: 100%;

    z-index: 0;

    background-color: rgba(0, 0, 0, 0.05)
}

.client-logo::after {

    content: '';

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background-color: white
}

.client-logo.hotr::after {

    background-color: #64c073
}

.client-logo:nth-child(2n + 1) {

    /*margin-right: calc((100vw / 48) * 2);*/

    /*margin-bottom: calc((100vw / 48) * 2);*/
}

.client-logo > figure {

    background-size: contain;

    background-position: center
}

.bat_logo {

    background-image: url('../media/bat_logo.png')
}

.hotr_logo {

    background-image: url('../media/hotr_logo.png')
}

.rad_consulting_logo {

    background-image: url('../media/rad_consulting_logo.png')
}

.zone_4_logo {

    background-image: url('../media/zone_4_logo.png')
}

.starfish_logo {

    background-image: url('../media/starfish_logo.png')
}

/* Positioning */

.core-xtics-cont {

    position: absolute;

    top: calc(calc(100vw / 48) * 4);

    left: calc(calc(100vw / 48) * 4);

    width: calc(calc(100vw / 48) * 12)
}

.core-xtic {

    height: calc(calc(100vw / 48) * 2);

    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);*/

    vertical-align: baseline
}

.core-xtic.smallest {

    letter-spacing: calc(100vw / 240)
}

.core-xtic.smaller {

    letter-spacing: calc(100vw / 188)
}

.core-xtic.large {

    letter-spacing: calc(100vw / 168);

    /*color: #BDD684;*/

    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1)
}

.biz-type-text {

    height: calc(calc(100vw / 48) * 2);

    letter-spacing: calc(100vw / 120);

    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1)
}

.core-xtic::before {

    content: attr(data-text-before);

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    -webkit-animation: coreXticBeforeOut 20s 8s ease-in-out alternate infinite;

            animation: coreXticBeforeOut 20s 8s ease-in-out alternate infinite

    /*height: 100%;*/
}

.core-xtic::after {

    content: attr(data-text-after);

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    -webkit-transform: translateY(100%);

            transform: translateY(100%);

    -webkit-animation: coreXticAfterIn 20s 8s ease-in-out alternate infinite;

            animation: coreXticAfterIn 20s 8s ease-in-out alternate infinite

    /*height: 100%;*/
}

@-webkit-keyframes coreXticBeforeOut {

    0% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }

    45% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }

    55% {

        -webkit-transform: translateY(100%);

                transform: translateY(100%)
    }

    100% {

        -webkit-transform: translateY(100%);

                transform: translateY(100%)
    }
}

@keyframes coreXticBeforeOut {

    0% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }

    45% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }

    55% {

        -webkit-transform: translateY(100%);

                transform: translateY(100%)
    }

    100% {

        -webkit-transform: translateY(100%);

                transform: translateY(100%)
    }
}

@-webkit-keyframes coreXticAfterIn {

    0% {

        -webkit-transform: translateY(100%);

                transform: translateY(100%)
    }

    45% {

        -webkit-transform: translateY(100%);

                transform: translateY(100%)
    }

    55% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }

    100% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }
}

@keyframes coreXticAfterIn {

    0% {

        -webkit-transform: translateY(100%);

                transform: translateY(100%)
    }

    45% {

        -webkit-transform: translateY(100%);

                transform: translateY(100%)
    }

    55% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }

    100% {

        -webkit-transform: translateY(0%);

                transform: translateY(0%)
    }
}

.core-xtics-details {

    position: absolute;

    left: calc(calc(100vw / 48) * 4);

    bottom: calc(calc(100vw / 48) * 4);

    height: calc(calc(100vw / 48) * 6);

    width: calc(calc(100vw / 48) * 12);

    /*background-color: rgba(255, 255, 255, 0.3);*/

    border-radius: 5px
}

.main-nav-cont {

    position: absolute;

    left: calc(calc(100vw / 48) * 2);

    top: calc(calc(100vw / 48) * 4);

    width: calc(calc(100vw / 48) * 6);

    height: auto
}

.nav-item {

    width: 100%;

    height: calc(calc(100vw / 48) * 2);

    margin-bottom: calc(calc(100vw / 48) * 2)
}

.nav-item::before {

    content: '';

    position: absolute;

    bottom: 0.3rem;

    left: 0;

    width: 200%;

    border-bottom: 1px dashed rgba(255, 255, 255, 0.1)

    /*animation: navBorder 6s linear infinite;*/

    /*background-color: rgba(255, 255, 255, 0.1);*/
}

@-webkit-keyframes navBorder {

    0% {

        -webkit-transform: translateX(-50%);

                transform: translateX(-50%)
    }

    100% {

        -webkit-transform: translateX(0%);

                transform: translateX(0%)
    }
}

@keyframes navBorder {

    0% {

        -webkit-transform: translateX(-50%);

                transform: translateX(-50%)
    }

    100% {

        -webkit-transform: translateX(0%);

                transform: translateX(0%)
    }
}

.nav-item-text {

    bottom: 1px;

    background-color: #2C3E50

    /*background-color: #fff;*/
}

.first-p::first-letter {

    font-size: 3.5rem;

    font-weight: bold
}

/* Animations */


/* Agnostic */

.vertical-align-middle > * {

    vertical-align: middle
}

.vertical-align-top > * {

    vertical-align: top
}

.vertical-align-bottom > * {

    vertical-align: baseline
}

@media (max-width: 768px) {

    .inline-blks-container > *:nth-child(n+2) {

        margin-left: -4px
    }

    .unfallable-row {

        white-space: nowrap
    }

    .unfallable-row > * {

        display: inline-block;

        white-space: normal
    }

    .display-none {

        display: none
    }

    .o-hidden {

        overflow: hidden
    }

    .o-y-hidden {

        overflow-y: hidden
    }

    .not-visible {

        visibility: none
    }
}

@media (min-width: 769px) {

    .dsktp-inline-blks-container > *:nth-child(n+2) {

        margin-left: -4px
    }

    .dsktp-row {

        white-space: nowrap

        /*overflow: hidden;*/
    }

    .dsktp-row > * {

        display: inline-block;

        white-space: normal
    }

    .dsktp-display-none {

        display: none
    }

    .dsktp-o-hidden {

        overflow: hidden
    }

    .dsktp-o-y-hidden {

        overflow-y: hidden
    }

    .dsktp-not-visible {

        visibility: hidden
    }
}

@media (min-width: 769px) {

    .slarge-t-left {

        text-align: left
    }

    .slarge-t-middle {

        text-align: center
    }

    .slarge-t-right {

        text-align: right
    }

    .dsktp-bkgrnd-white {

        background-color: #fff
    }

    .dsktp-bkgrnd-secondary-white {

        background-color: #fbfbff
    }

    .dsktp-bkgrnd-light-grey {

        background-color: #f2f2f2
    }

    .dsktp-bkgrnd-blue {

        background-color: #448dde
    }

    .dsktp-bkgrnd-yellow {

        background-color: #f9b202
    }

    .dsktp-bkgrnd-green {

        background-color: #64c073
    }

    .dsktp-bkgrnd-light-blue {

        background-color: #b3d4fc
    }

    .dsktp-bkgrnd-grey {

        background-color: #e6e6e6
    }

    .dsktp-bkgrnd-dark {

        background-color: #4F3F5F
    }

    .dsktp-bkgrnd-red {

        background-color: #F15E5C
    }

    .dsktp-bkgrnd-black {

        background-color: #2F2F2F
    }

    .slarge-percent-height-100 {

        height: 100%
    }

    .slarge-percent-height-90 {

        height: 90%
    }

    .slarge-percent-height-80 {

        height: 80%
    }

    .slarge-percent-height-70 {

        height: 70%
    }

    .slarge-percent-height-60 {

        height: 60%
    }

    .slarge-percent-height-50 {

        height: 50%
    }

    .slarge-percent-height-40 {

        height: 40%
    }

    .slarge-percent-height-30 {

        height: 30%
    }

    .slarge-percent-height-20 {

        height: 20%
    }

    .slarge-percent-height-10 {

        height: 10%
    }

    .slarge-viewport-height-100 {

        height: 100vh
    }

    .slarge-viewport-height-90 {

        height: 90vh
    }

    .slarge-viewport-height-80 {

        height: 80vh
    }

    .slarge-viewport-height-70 {

        height: 70vh
    }

    .slarge-viewport-height-60 {

        height: 60vh
    }

    .slarge-viewport-height-50 {

        height: 50vh
    }

    .slarge-viewport-height-40 {

        height: 40vh
    }

    .slarge-viewport-height-30 {

        height: 30vh
    }

    .slarge-viewport-height-20 {

        height: 20vh
    }

    .slarge-viewport-height-10 {

        height: 10vh
    }

    .slarge-z-index-0 {

        z-index: 0
    }

    .slarge-z-index-1 {

        z-index: 1
    }

    .slarge-z-index-2 {

        z-index: 2
    }

    .slarge-position-absolute {

        position: absolute
    }

    .slarge-position-fixed {

        position: fixed
    }

    .slarge-top-0 {

        top: 0
    }

    .slarge-left-0 {

        left: 0
    }

    .slarge-right-0 {

        right: 0
    }

    .slarge-bottom-0 {

        bottom: 0
    }

    .slarge-left-50percent {

        left: 50%
    }

    .slarge-top-50percent {

        top: 50%
    }

    .slarge-translate-x--50percent {

        -webkit-transform: translateX(-50%);

                transform: translateX(-50%)
    }

    .slarge-translate-x--50percent-y--50percent {

        -webkit-transform: translate(-50%, -50%);

                transform: translate(-50%, -50%)
    }

    .slarge-translate-y--50percent {

        -webkit-transform: translateY(-50%);

                transform: translateY(-50%)
    }

    .slarge-padding0125 {

        padding: 0.125rem
    }

    .slarge-padding025 {

        padding: 0.25rem
    }

    .slarge-padding {

        padding: 1rem
    }

    .slarge-padding05 {

        padding: 0.5rem
    }

    .slarge-padding2 {

        padding: 2rem
    }

    .slarge-padding4 {

        padding: 4rem
    }

    .slarge-padding-h05 {

        padding-left: 0.5rem
    }

    .slarge-padding-h05 {

        padding-right: 0.5rem
    }

    .slarge-padding-h {

        padding-left: 1rem
    }

    .slarge-padding-h {

        padding-right: 1rem
    }

    .slarge-padding-h2 {

        padding-left: 2rem
    }

    .slarge-padding-h2 {

        padding-right: 2rem
    }

    .slarge-padding-h4 {

        padding-left: 4rem
    }

    .slarge-padding-h4 {

        padding-right: 4rem
    }

    .slarge-padding-h6 {

        padding-left: 6rem
    }

    .slarge-padding-h6 {

        padding-right: 6rem
    }

    .slarge-padding-v05 {

        padding-top: 0.5rem
    }

    .slarge-padding-v05 {

        padding-bottom: 0.5rem
    }

    .slarge-padding-v {

        padding-top: 1rem
    }

    .slarge-padding-v {

        padding-bottom: 1rem
    }

    .slarge-padding-v2 {

        padding-top: 2rem
    }

    .slarge-padding-v2 {

        padding-bottom: 2rem
    }

    .slarge-padding-v4 {

        padding-top: 4rem
    }

    .slarge-padding-v4 {

        padding-bottom: 4rem
    }

    .slarge-padding-h-right05 {

        padding-right: 0.5rem
    }

    .slarge-padding-h-right {

        padding-right: 1rem
    }

    .slarge-padding-h-right2 {

        padding-right: 2rem
    }

    .slarge-padding-h-right4 {

        padding-right: 4rem
    }

    .slarge-padding-h-left {

        padding-left: 1rem
    }

    .slarge-padding-h-left2 {

        padding-left: 2rem
    }

    .slarge-padding-h-left4 {

        padding-left: 4rem
    }

    .slarge-padding-v-bottom05 {

        padding-bottom: 0.5rem
    }

    .slarge-padding-v-bottom {

        padding-bottom: 1rem
    }

    .slarge-padding-v-bottom2 {

        padding-bottom: 2rem
    }

    .slarge-padding-v-bottom4 {

        padding-bottom: 4rem
    }

    .slarge-padding-v-top05 {

        padding-top: 0.5rem
    }

    .slarge-padding-v-top {

        padding-top: 1rem
    }

    .slarge-padding-v-top2 {

        padding-top: 2rem
    }

    .slarge-padding-v-top4 {

        padding-top: 4rem
    }

    .slarge-margin {

        margin: 1rem
    }

    .slarge-margin2 {

        margin: 2rem
    }

    .slarge-margin4 {

        margin: 4rem
    }

    .slarge-margin-h05 {

        margin-left: 0.5rem
    }

    .slarge-margin-h05 {

        margin-right: 0.5rem
    }

    .slarge-margin-h {

        margin-left: 1rem
    }

    .slarge-margin-h {

        margin-right: 1rem
    }

    .slarge-margin-h2 {

        margin-left: 2rem
    }

    .slarge-margin-h2 {

        margin-right: 2rem
    }

    .slarge-margin-h4 {

        margin-left: 4rem
    }

    .slarge-margin-h4 {

        margin-right: 4rem
    }

    .slarge-margin-v05 {

        margin-top: 0.5rem
    }

    .slarge-margin-v05 {

        margin-bottom: 0.5rem
    }

    .slarge-margin-v {

        margin-top: 1rem
    }

    .slarge-margin-v {

        margin-bottom: 1rem
    }

    .slarge-margin-v2 {

        margin-top: 2rem
    }

    .slarge-margin-v2 {

        margin-bottom: 2rem
    }

    .slarge-margin-v4 {

        margin-top: 4rem
    }

    .slarge-margin-v4 {

        margin-bottom: 4rem
    }

    .slarge-margin-v6 {

        margin-top: 6rem
    }

    .slarge-margin-v6 {

        margin-bottom: 6rem
    }

    .slarge-margin-h-right {

        margin-right: 1rem
    }

    .slarge-margin-h-right2 {

        margin-right: 2rem
    }

    .slarge-margin-h-right4 {

        margin-right: 4rem
    }

    .slarge-margin-h-left {

        margin-left: 1rem
    }

    .slarge-margin-h-left2 {

        margin-left: 2rem
    }

    .slarge-margin-h-left4 {

        margin-left: 4rem
    }

    .slarge-margin-v4 {

        margin-bottom: 4rem
    }

    .slarge-margin-v-bottom05 {

        margin-bottom: 0.5rem
    }

    .slarge-margin-v-bottom {

        margin-bottom: 1rem
    }

    .slarge-margin-v-bottom2 {

        margin-bottom: 2rem
    }

    .slarge-margin-v-bottom4 {

        margin-bottom: 4rem
    }

    .slarge-margin-v-top {

        margin-top: 1rem
    }

    .slarge-margin-v-top2 {

        margin-top: 2rem
    }

    .slarge-margin-v-top4 {

        margin-top: 4rem
    }

    .slarge-margin-v-top6 {

        margin-top: 6rem
    }

    html, body {

        font-size: 12px
    }

    html, body {

        font-size: calc(8px + 4 * ((100vw - 768px) / 1440))
    }

    .icon-medium-size {

        font-size: 2rem
    }

    .icon-normal-size {

        font-size: 1.4286rem
    }

    .icon-small-size {

        font-size: 1.1429rem
    }

    .icon-tiny-size {

        font-size: 0.8rem
    }

    .slarge-uppercase {

        text-transform: uppercase
    }

    .slarge-capitalize {

        text-transform: capitalize
    }

    .slarge-underline {

        text-decoration: underline
    }

    .slarge-strikethrough {

        text-decoration: line-through
    }

    .slarge-bold {

        font-weight: 700
    }

    .slarge-medium {

        font-weight: 500
    }

    .slarge-normalweight {

        font-weight: 400
    }

    .slarge-slim {

        font-weight: 200
    }

    .slarge-thin {

        font-weight: 100
    }

    .slarge-wide-spacing {

        letter-spacing: 2px
    }

    .slarge-medium-spacing {

        letter-spacing: 1.6px
    }

    .slarge-medium-spacing {

        word-spacing: 0.125em
    }

    .slarge-small-spacing {

        letter-spacing: 1.2px
    }

    .slarge-neg-spacing {

        letter-spacing: -0.2px
    }

    .slarge-line-height-small {

        line-height: 1.2
    }

    .slarge-line-height-medium {

        line-height: 1.6
    }

    .slarge-line-height-large {

        line-height: 2
    }

    .slarge-alternate-font {

        font-family: Libre Baskerville,serif
    }

    .slarge-type-extra-large {

        font-size: 8rem
    }

    .slarge-type-very-large {

        font-size: 5rem
    }

    .slarge-type-large {

        font-size: 3.4rem
    }

    .slarge-type-low-large {

        font-size: 2.6rem
    }

    .slarge-type-moremedium {

        font-size: 1.8rem
    }

    .slarge-type-medium {

        font-size: 1.4rem
    }

    .slarge-type-normal {

        font-size: 1.2rem
    }

    .slarge-type-small {

        font-size: 1rem
    }

    .slarge-type-very-small {

        font-size: 0.8rem
    }

    .slarge-border-1px {

        border: 1px solid #f0f0f4
    }

    .slarge-border-1px-dotted {

        border: 1px dotted #f0f0f4
    }

    .slarge-border-1px-bottom {

        border-bottom: 1px solid #f0f0f4
    }

    .slarge-border-1px-left {

        border-left: 1px solid #f0f0f4
    }

    .slarge-border-1px-right {

        border-right: 1px solid #f0f0f4
    }

    .slarge-border-1px-top {

        border-top: 1px solid #f0f0f4
    }

    .dsktp-largeborder {

        border: 4px solid
    }

    .dsktp-largeborder-dotted {

        border: 4px dashed
    }

    .dsktp-largeborder-bottom {

        border-bottom: 4px solid
    }

    .dsktp-largeborder-left {

        border-left: 4px solid
    }

    .dsktp-largeborder-right {

        border-right: 4px solid
    }

    .dsktp-largeborder-top {

        border-top: 4px solid
    }

    .dsktp-mediumborder {

        border-width: 2px
    }

    .dsktp-border-grey {

        border-color: #f0f0f4
    }

    .dsktp-border-dark-grey {

        border-color: #d0d0d0
    }

    .dsktp-border-blue {

        border-color: #448dde
    }

    .dsktp-border-dark {

        border-color: #404040
    }

    .dsktp-border-red {

        border-color: #e82110
    }

    .dsktp-border-green {

        border-color: #64c073
    }

    .dsktp-default-radius-small {

        border-radius: 0.2rem
    }

    .dsktp-default-radius {

        border-radius: 2rem
    }

    .slarge-percent-width-1 {

        width: 100%
    }

    .slarge-percent-width-1-2 {

        width: 50%
    }

    .slarge-percent-width-1-3 {

        width: 33.3333%
    }

    .slarge-percent-width-2-3 {

        width: 66.6667%
    }

    .slarge-percent-width-1-4 {

        width: 25%
    }

    .slarge-percent-width-3-4 {

        width: 75%
    }

    .slarge-percent-width-1-5 {

        width: 20%
    }

    .slarge-percent-width-2-5 {

        width: 40%
    }

    .slarge-percent-width-3-5 {

        width: 60%
    }

    .slarge-percent-width-4-5 {

        width: 80%
    }

    .slarge-percent-width-1-6 {

        width: 16.6667%
    }

    .slarge-percent-width-5-6 {

        width: 83.3333%
    }

    .slarge-percent-width-1-8 {

        width: 12.5%
    }

    .slarge-percent-width-3-8 {

        width: 37.5%
    }

    .slarge-percent-width-5-8 {

        width: 62.5%
    }

    .slarge-percent-width-7-8 {

        width: 87.5%
    }

    .slarge-percent-width-1-10 {

        width: 10%
    }

    .slarge-percent-width-3-10 {

        width: 30%
    }

    .slarge-percent-width-7-10 {

        width: 70%
    }

    .slarge-percent-width-9-10 {

        width: 90%
    }

    .slarge-percent-width-1-12 {

        width: 8.3333%
    }

    .slarge-percent-width-5-12 {

        width: 41.6667%
    }

    .slarge-percent-width-7-12 {

        width: 58.3333%
    }

    .slarge-percent-width-11-12 {

        width: 91.6667%
    }

    .slarge-viewport-width-1 {

        width: 100vw
    }

    .slarge-viewport-width-1-2 {

        width: 50vw
    }

    .slarge-viewport-width-1-3 {

        width: 33.3333vw
    }

    .slarge-viewport-width-2-3 {

        width: 66.6667vw
    }

    .slarge-viewport-width-1-4 {

        width: 25vw
    }

    .slarge-viewport-width-3-4 {

        width: 75vw
    }

    .slarge-viewport-width-1-5 {

        width: 20vw
    }

    .slarge-viewport-width-2-5 {

        width: 40vw
    }

    .slarge-viewport-width-3-5 {

        width: 60vw
    }

    .slarge-viewport-width-4-5 {

        width: 80vw
    }

    .slarge-viewport-width-1-6 {

        width: 16.6667vw
    }

    .slarge-viewport-width-5-6 {

        width: 83.3333vw
    }

    .slarge-viewport-width-1-8 {

        width: 12.5vw
    }

    .slarge-viewport-width-3-8 {

        width: 37.5vw
    }

    .slarge-viewport-width-5-8 {

        width: 62.5vw
    }

    .slarge-viewport-width-7-8 {

        width: 87.5vw
    }

    .slarge-viewport-width-1-10 {

        width: 10vw
    }

    .slarge-viewport-width-3-10 {

        width: 30vw
    }

    .slarge-viewport-width-7-10 {

        width: 70vw
    }

    .slarge-viewport-width-9-10 {

        width: 90vw
    }

    .slarge-viewport-width-1-12 {

        width: 8.3333vw
    }

    .slarge-viewport-width-5-12 {

        width: 41.6667vw
    }

    .slarge-viewport-width-7-12 {

        width: 58.3333vw
    }

    .slarge-viewport-width-11-12 {

        width: 91.6667vw
    }
}

@media (max-width: 768px) {

    .slarge-row {

        white-space: nowrap
    }

    .slarge-row > * {

        white-space: normal
    }

    .bkgrnd-white {

        background-color: #fff
    }

    .bkgrnd-secondary-white {

        background-color: #f8f8ff
    }

    .bkgrnd-light-grey {

        background-color: #f2f2f2
    }

    .bkgrnd-blue {

        background-color: #448dde
    }

    .bkgrnd-yellow {

        background-color: #f9b202
    }

    .bkgrnd-green {

        background-color: #64c073
    }

    .bkgrnd-light-blue {

        background-color: #b3d4fc
    }

    .bkgrnd-grey {

        background-color: #e6e6e6
    }

    .bkgrnd-dark {

        background-color: #4F3F5F
    }

    .bkgrnd-black {

        background-color: #2F2F2F
    }

    .bkgrnd-red {

        background-color: #F15E5C
    }
}
