
.slarge-bkgrnd-white {

    background-color: @ml #fff
}

.slarge-bkgrnd-secondary-white {

    background-color: @ml #faf5f6
}

.slarge-bkgrnd-light-grey {

    background-color: @ml #f2f2f2
}

.slarge-bkgrnd-blue {

    background-color: @ml #448dde
}

.slarge-bkgrnd-yellow {

    background-color: @ml #f9b202
}

.slarge-bkgrnd-green {

    background-color: @ml #64c073
}

.slarge-bkgrnd-light-blue {

    /*background-color: @ml #b3d4fc;*/
    background-color: @ml #d3e4ff
}

.slarge-bkgrnd-grey {

    background-color: @ml #e6e6e6
}

.slarge-bkgrnd-dark {

    background-color: @ml #5a3F6F
}

.slarge-bkgrnd-red {

    background-color: @ml #F15E5C
}

.slarge-bkgrnd-black {

    background-color: @ml #333
}




/******* TEXT COLORS ***********/

.slarge-text-white {

    color: #fff
}

.slarge-text-light-grey {

    color: #bab
}

.slarge-text-dark-grey {
    color: #666666;
}

.slarge-text-blue {

    color: #448dde
}

.slarge-text-yellow {

    color: #f9b202
}

.slarge-text-green {

    color: #64c073
}

.slarge-text-light-blue {

    color: #b3d4fc
}

.slarge-text-grey {

    color: #778
}

.slarge-text-red {

    color: #e82110;
}

.slarge-text-dark {

  color: #3a3a3f;
}

.slarge-text-black {

  color: #000;
}
