
* {
  /*transition: 0.4s;*/
}

body, #app {
  width: @ml 100vw;
  /*height: @ml 100vh;*/
  /*overflow: @ml hidden;*/
  /*background-color: #f2f2f2;*/
}

.slarge-font-impact {
  font-family: @ml 'impact';
}

.slarge-font-hind-guntur {
  font-family: @ml 'Hind Guntur';
}

.slarge-font-open-sans {
  font-family: @ml 'Open Sans';
}

.slarge-border-radius-2 {
  border-radius: 2px;
}

.slarge-overflow-y-scroll {
  overflow-y: scroll;
}

.main-header {
  width: calc(193 / 1366 * 100vw);
  height: calc(397 / 768 * 100vh);

  z-index: 10;

  border: 0px solid #faf5f6;
  border-right-width: 1px;
  border-bottom-width: 1px;
  /*box-shadow: 10px 10px 100px #faf5f6;*/
}

.slarge-nav-link-tag::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1em;
  height: 2px;
  background-color: #ff4d45;

  transform: translateX(-100%);
  transition: all 0.4s;
}

.slarge-nav-link-tag::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;

  color: #ff4d45;
  width: 0px;
  overflow: hidden;
  /*height: 2px;*/
  /*background-color: #ff4d45;*/

  /*transform: translateX(-100%);*/
  transition: all 1s;
}

.slarge-nav-link-tag:hover::before {
  transform: translateX(0%);
}

.slarge-nav-link-tag:hover::after {
  width: 100%;
}

.slarge-above-fold-article {
  width: calc(618 / 1366 * 100vw);
  height: calc(591 / 768 * 100vh);
  /*box-shadow: 5px 5px 100px #f5f5f8;*/
}

.slarge-article {
  position: absolute;
  top: 0;
  left: 0;
  /*opacity: 0;*/
  /*transition: @ml all 1s;*/
  visibility: hidden;
  z-index: @ml 0;
  /*transform: translateX(50%);*/
  /*transition: @ml all 0.6s 0.4s;*/
}


.slarge-article.active {
  /*opacity: 1;*/
  /*transform: translateX(0%);*/
  visibility: visible;
  z-index: @ml 1;
}

.slarge-article-padding {
  padding: @ml 120px 0em 0em;
}

.slarge-article-animate > div {
  opacity: 0;
  transform: translateX(-13%);
  transition: all 0.7s 0.3s;
}

.slarge-article.active .slarge-article-animate > div {
  transform: translateX(0%);
  opacity: 1;
}

.slarge-article-feature-image-above-fold-animation {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left top;
  transition: transform 0.8s, opacity 0.6s 0.2s;
}

.slarge-article.active .slarge-article-feature-image-above-fold-animation {
  transform: scaleX(1);
  opacity: 1;
}


.slarge-article-animate::after, .slarge-article-feature-image-above-fold-animation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: currentColor;
  transform-origin: left top;
}

.slarge-article.active .slarge-article-animate::after, .slarge-article.active .slarge-article-feature-image-above-fold-animation:after {
  animation: slide-out 0.8s cubic-bezier(0.77,0,0.18,1) forwards;
}

@keyframes slide-out {
  0% {
    transform-origin: left top;
    transform: scaleX(0);
  }
  40% {
    transform-origin: left top;
    transform: scaleX(1);
  }
  60% {
    transform-origin: top right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: top right;
    transform: scaleX(0);
  }
}

.slarge-article-heading {
  line-height: 1;
}

.slarge-article-heading-after-line::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 0.5em;
  height: 6px;
  background-color: #ff4d45;
}

.slarge-featured-article {
  /*max-height: 80vh;*/
  /*overflow: hidden;*/
  margin: 4rem 0rem 6rem;
}

.slarge-featured-article > div {
}

.slarge-article-feature-image-above-fold {
  position: absolute;
  right: 0;
  top: 100px;
  transform: translateX(80%);
  /*box-shadow: -30px 0px 20px rgba(0, 0, 0, 0.05);*/
}

.slarge-article-feature-image-dimensions {
  width: 261px;
  height: 348px;
}

.slarge-article-feature-image-border {
  border: 20px solid rgba(43, 03, 65, 0.46);
}

.slarge-article-feature-image-background {
  /*background-image: url("");*/
}

.slarge-article-feature-image-normal-position {
  position: absolute;
  top: 0;
  right: 0;
}

.slarge-work-image-dimensions {
  height: calc(26.6vw * 3 / 4);
  /*width: 400px;*/
}

.slarge-article-feature-image-shadow {
  /*box-shadow: @ml -20px 0px 40px rgba(0, 0, 0, 0.065);*/
}

.slarge-article-feature-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  color: inherit;
  background-color: currentColor;
  transform-origin: right bottom;
  transform: scaleX(0.075) scaleY(0);
  transition: all 1s;
  z-index: 2;
}

.slarge-article-feature-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #fff;
  transform-origin: left bottom;
  transition: all 0.4s cubic-bezier(0.77,0,0.18,1);

  z-index: 1;
}

.slarge-featured-articles-header {
  transform: translateY(0px);
}

.slarge-featured-articles-header.scrolled-in {
  position: @ml fixed;
  top: @ml 100px;
  transform: translateY(23rem);
}

.slarge-featured-articles-heading {
  transform-origin: 15px top;
  transform: rotate(90deg);
}

.slarge-featured-articles-header:hover .slarge-featured-articles-heading {
  transform: rotate(0deg);
}

.slarge-featured-article.scrolled-in:hover .slarge-article-feature-image::after {
  animation: featured-image-hovered 0.5s cubic-bezier(0.77,0,0.18,1) forwards;
}

.slarge-featured-article.scrolled-in:hover .slarge-article-feature-image::before {
  transform: scaleX(0);
}

.scrolled-in .slarge-article-feature-image::after {
  animation: featured-image-scroll-in 1s 0.4s cubic-bezier(0.77,0,0.18,1) forwards;
}

.slarge-featured-article-meta {
  opacity: 0;
  transform: translateY(-20%);
}

.slarge-featured-article:hover .slarge-featured-article-meta {
  opacity: 1;
  transform: translateY(0%);
}

@keyframes featured-image-scroll-in {
  0% {
    transform: scaleX(0.075) scaleY(0);
    transform-origin: right bottom;
  }
  50% {
    transform: scaleX(0.075) scaleY(1);
    transform-origin: right bottom;
  }
  90% {
    transform: scale(1);
    transform-origin: right bottom;
  }
  100% {
    transform-origin: left bottom;
    transform: scale(1);
  }
}

@keyframes featured-image-hovered {
  0% {
    transform-origin: left bottom;
    transform: scale(1);
  }
  100% {
    transform-origin: left bottom;
    transform: scaleX(0);
  }
}
