


*, ul, figure {

    box-sizing: border-box;

    padding: 0px;

    margin: 0px;

    border: 0;

    font: inherit;

    vertical-align: baseline;

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;
}

li {

    list-style-type: none
}

address {

    font-style: normal
}

a, img {

    border: none
}

sup, sub {

  font-size: 0.5rem;

  transform: translateX(100%)
}

a {

    text-decoration: none;
}

img, video {

    max-width: 100%;
}

body {

    overflow-x: hidden
}

button, a {

    background: none;

    border: none;

    color: inherit;

    font-family: inherit
}

input {

    background: none;

    border: none;

    text-align: inherit;

    font-size: inherit;

    font-family: inherit;

    color: inherit;

    outline: 0px
}

h1, h2, h3, h4, h5, h6, .header-font {

    margin: 0px;
}




/*Use inline-block to make elements stack side-by-side (create a row of elements)*/
.inline-block {

    display: inline-block
}

/*Use this on an element containing elements that has the 'inline-block' class */

/*Browsers insert a 4px white-space in-between inline-blocks, so if create two 50% inline-block, they won't stay on the same line because the browser has added 4px in-between them, use the class 'inline-blks-container' on the immediate parent element containing the blocks to remove the 4px white-space*/
@media (max-width: 768px) {
    .inline-blks-container > *:nth-child(n+2) {

        margin-left: -4px
    }
}

@media (min-width: 769px) {
    .dsktp-inline-blks-container > *:nth-child(n+2) {

        margin-left: -4px
    }
}


/**********

The benefit of using 'inline-block' for layout is that you can easily align elements (example: an inline-block div) to the right, left or center with `text-align: left/right/center;`. Make elements behave like block elements by just making their width 100%.

***********/




/* MISCELLANEOUS */


.relative {
    position: relative;
}

.back-one-step{
    z-index:-1;
}

.background-image-cover-centered {

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {

    .unfallable-row {
        white-space: nowrap;
    }

    .unfallable-row > * {
        display: inline-block;
        white-space: normal;
    }
}



@media (min-width: 769px) {

    .dsktp-row {
        white-space: nowrap;
        /*overflow: hidden;*/
    }

    .dsktp-row > * {
        display: inline-block;
        white-space: normal;
    }

}
