





/********* VERTICAL ALIGNMENT CLASSES *********/

/*All elements are by default aligned to baseline, use the two classes below to change that behaviour*/

/*
EXAMPLE:
    <ul class="vertical-align-top">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    This aligns all <li> elments within ul to the top top of ul
*/

.vertical-align-middle > * {

    vertical-align: middle
}

.vertical-align-top > * {

    vertical-align: top
}

.vertical-align-bottom > * {

    vertical-align: baseline;
}


.dsktp-align-self-end {

  align-self: @ml end;
}



    .t-left {

        text-align: @ms left
    }

    .t-middle {

        text-align: @ms center
    }

    .t-right {

        text-align: @ms right
    }

    .row {

        white-space: @ms nowrap;
    }

    .row > * {

        display: @ms inline-block;
        white-space: @ms normal;
    }




.dsktp-t-left {

    text-align: @ml left
}

.dsktp-t-middle {

    text-align: @ml center
}

.dsktp-t-right {

    text-align: @ml right
}

.dsktp-row {

    white-space: nowrap;
}

.dsktp-row > * {

    display: inline-block;
    white-space: normal;
}
