

/*
Whenever you are creating a button, use the '.button' class alongside any of the other specific button classes

EXAMPLE:
    <button class="button button-destructive"></div> RIGHT

    <button class="button"></div> WRONG

    <button class="button-destructive"></div> WRONG


Same goes for icon buttons, to check icon-size classes, please check typography file.
*/




.button-round {

  border-radius: 3rem;
}

.icon-neutral-button {

    display: inline-block;

    padding: 0.6787em 1em;

    border-radius: 4px
}

.icon-neutral-button {

    color: #54698d;

    border: 2px solid #d8dde6
}
