/******* BACKROUND COLORS ***********/
.bkgrnd-white {

    background-color: @ms #fff
}

.bkgrnd-secondary-white {

    background-color: @ms #f8f8ff
}

.bkgrnd-light-grey {

    background-color: @ms #f2f2f2
}

.bkgrnd-blue {

    background-color: @ms #448dde
}

.bkgrnd-yellow {

    background-color: @ms #f9b202
}

.bkgrnd-green {

    background-color: @ms #64c073
}

.bkgrnd-light-blue {

    background-color: @ms #b3d4fc
}

.bkgrnd-grey {

    background-color: @ms #e6e6e6
}

.bkgrnd-dark {

    background-color: @ms #4F3F5F
}

.bkgrnd-black {

    background-color: @ms #2F2F2F
}

.bkgrnd-red {

    background-color: @ms #F15E5C
}


.dsktp-bkgrnd-white {

    background-color: @ml #fff
}

.dsktp-bkgrnd-secondary-white {

    background-color: @ml #fbfbff
}

.dsktp-bkgrnd-light-grey {

    background-color: @ml #f2f2f2
}

.dsktp-bkgrnd-blue {

    background-color: @ml #448dde
}

.dsktp-bkgrnd-yellow {

    background-color: @ml #f9b202
}

.dsktp-bkgrnd-green {

    background-color: @ml #64c073
}

.dsktp-bkgrnd-light-blue {

    background-color: @ml #b3d4fc
}

.dsktp-bkgrnd-grey {

    background-color: @ml #e6e6e6
}

.dsktp-bkgrnd-dark {

    background-color: @ml #4F3F5F
}

.dsktp-bkgrnd-red {

    background-color: @ml #F15E5C
}

.dsktp-bkgrnd-black {

    background-color: @ml #2F2F2F
}




/******* TEXT COLORS ***********/

.text-white {

    color: #fff
}

.text-light-grey {

    color: #b9b6b6
}

.text-dark-grey {
    color: #696666;
}

.text-blue {

    color: #448dde
}

.text-yellow {

    color: #f9b202
}

.text-green {

    color: #64c073
}

.text-light-blue {

    color: #b3d4fc
}

.text-grey {

    color: #9F9FAF
}

.text-red {

    color: #e82110;
}

.text-dark {

  color: #4F3F5F;
}
