
body {
    overflow: hidden;
    font-family: sans-serif;
  }

.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(48, 1fr);
  grid-template-rows: repeat(auto-fill, calc(100vw / 48));
  /*transition: transform 1s;*/
  /*transform-origin: top left;*/
}

.app > *:first-child {
  grid-column: 1 / 21;
  grid-row: 1 / max;

  display: grid;

  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(auto-fill, calc(100vw / 48));

  /*background-color: #784BA0;*/
}

.app > *:nth-child(2n) {
  grid-column: 21 / 31;
  grid-row: 1 / max;

  display: grid;

  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(auto-fill, calc(100vw / 48));
}

.app > *:nth-child(3n) {
  grid-column: 31 / 49;
  grid-row: 1 / max;

  display: grid;

  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(auto-fill, calc(100vw / 48));
}

.core-values {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, calc(100vw / 48));

  grid-column: 5 / 17;
  grid-row: 5 / 13;

  margin-top: calc( (100vh - 100vw / 1.7789336801) / 2 );
}

.core-details {
  grid-column: 5 / 17;
  grid-row: 17 / 22;

  margin-top: calc( (100vh - 100vw / 1.7789336801) / 2 );
}

.values {
  display: grid;

  grid-column: 1 / max;
  grid-row: 1 / 7;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, calc(100vw / 48));
}

.value-item, .agency-text {
  display: grid;

  grid-column: 1 / max;
  align-self: end;

  line-height: 0.8;
}

.value-item.one {
  grid-row: 1 / 3;
  letter-spacing: calc(100vw / 240);
}

.value-item.two {
  grid-row: 3 / 5;
  letter-spacing: calc(100vw / 144);
}

.value-item.three {
  grid-row: 5 / max;
  letter-spacing: calc(100vw / 144);
}

.agency-text {
  grid-row: 7 / 9;
  letter-spacing: calc(100vw / 120);
}

.value-item.main::before {
  content: attr(data-text);
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  transform: translateY(-100%);
  transition: all 0.5s 0.75s;
  /*animation: newText 10s infinite;*/
  z-index: 1;
  opacity: 0;

  background-color: #4F3F5F;

  text-transform: uppercase;
}

.value-item.main::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  transform: translateX(-100%);
  transition: all 1s;
  /*animation: coverText 5s infinite;*/
  z-index: 0;
  /*opacity: 0*/

  background-color: #4F3F5F;

  text-transform: uppercase;
}

.value-item.start.main::after, .value-item.start.main::before {
  transform: translateY(0%);
  opacity: 1;
}

@keyframes newText {
  0% {
    transform: translateY(-100%);
  }
  45% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes coverText {
  0% {
    transform: translateX(-100%);
  }
  80% {
    transform: translate(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}






/*.main-column-2 {
  background-color: #784BA0;
}

.nav-ul {
  display: grid;

  grid-column: 3 / 9;
  grid-row: 5 / 23;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto-fill, calc(100vw / 48));

  margin-top: calc( (100vh - 100vw / 1.7789336801) / 2 );
}*/

/*.nav-item {
  grid-column: 1 / max;
  align-self: end;

  line-height: 0.8;

  background-image: linear-gradient(180deg,transparent 70%, rgba(185, 182, 182, 0.3) 78%, transparent 0);
}

.nav-item:first-child {
  grid-row: 1 / 3;
}

.nav-item:nth-child(2n) {
  grid-row: 5 / 7;
}

.nav-item:nth-child(3n) {
  grid-row: 9 / 11;
}

.nav-item:nth-child(4n) {
  grid-row: 13 / 15;
}

.nav-item:nth-child(5n) {
  grid-row: 17 / 19;
}*/






.main-column-3 .member {
  height: 300px;
  width: 300px;

  background-image: url('../media/promise.jpg');
  background-size: cover;
  background-position: center;

  filter: contrast(160%);

  overflow-y: scroll;
}

.clients-logo {
  /*display: grid;*/

  /*grid-column: 3 / 17;*/
  /*grid-row: 5 / max;*/

  width: calc($1g * 14);

  /*grid-template-columns: repeat(14, 1fr);*/
  /*grid-template-rows: repeat(auto-fill, calc(100vw / 48));*/
}

.client-logo {
  /*grid-column: 1 / 7;*/
  height: calc((100vw / 48) * 5);
  width: calc((100vw / 48) * 5);
}

.client-logo::before {
  /*content: '';*/
  position: absolute;
  top: 5px;
  left: 5px;

  width: 100%;
  height: 100%;

  z-index: 0;

  background-color: rgba(0, 0, 0, 0.05);
}

.client-logo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: white;
}

.client-logo.hotr::after {
  background-color: #64c073;
}

.client-logo:nth-child(2n + 1) {
  /*margin-right: calc((100vw / 48) * 2);*/
  /*margin-bottom: calc((100vw / 48) * 2);*/
}

.client-logo > figure {
  background-size: contain;
  background-position: center;
}

.bat_logo {
  background-image: url('../media/bat_logo.png');
}

.hotr_logo {
  background-image: url('../media/hotr_logo.png');
}

.rad_consulting_logo {
  background-image: url('../media/rad_consulting_logo.png');
}

.zone_4_logo {
  background-image: url('../media/zone_4_logo.png');
}

.starfish_logo {
  background-image: url('../media/starfish_logo.png');
}






/* Positioning */

.core-xtics-cont {
  position: absolute;
  top: calc($1g * 4);
  left: calc($1g * 4);
  width: calc($1g * 12);
}

.core-xtic {
  height: calc($1g * 2);
  /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);*/
  vertical-align: baseline;
}

.core-xtic.smallest {
  letter-spacing: calc(100vw / 240);
}

.core-xtic.smaller {
  letter-spacing: calc(100vw / 188);
}

.core-xtic.large {
  letter-spacing: calc(100vw / 168);
  /*color: #BDD684;*/
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
}

.biz-type-text {
  height: calc($1g * 2);
  letter-spacing: calc(100vw / 120);
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
}


.core-xtic::before {
  content: attr(data-text-before);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  animation: coreXticBeforeOut 20s 8s ease-in-out alternate infinite;
  /*height: 100%;*/
}

.core-xtic::after {
  content: attr(data-text-after);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);

  animation: coreXticAfterIn 20s 8s ease-in-out alternate infinite;
  /*height: 100%;*/
}

@keyframes coreXticBeforeOut {
  0% {
    transform: translateY(0%);
  }
  45% {
    transform: translateY(0%);
  }
  55% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes coreXticAfterIn {
  0% {
    transform: translateY(100%);
  }
  45% {
    transform: translateY(100%);
  }
  55% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}


.core-xtics-details {
  position: absolute;
  left: calc($1g * 4);
  bottom: calc($1g * 4);
  height: calc($1g * 6);
  width: calc($1g * 12);
  /*background-color: rgba(255, 255, 255, 0.3);*/
  border-radius: 5px;
}





.main-nav-cont {
  position: absolute;
  left: calc($1g * 2);
  top: calc($1g * 4);
  width: calc($1g * 6);
  height: auto;
}

.nav-item {
  width: 100%;
  height: calc($1g * 2);
  margin-bottom: calc($1g * 2);
}

.nav-item::before {
  content: '';
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  width: 200%;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  /*animation: navBorder 6s linear infinite;*/
  /*background-color: rgba(255, 255, 255, 0.1);*/
}

@keyframes navBorder {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.nav-item-text {
  bottom: 1px;
  background-color: #2C3E50;
  /*background-color: #fff;*/
}


.first-p::first-letter {
  font-size: 3.5rem;
  font-weight: bold;
}





/* Animations */
