


.input-text {
    border: 1px solid #ccc;
    line-height: 34px;
    height: 34px;
    overflow: hidden;
    padding: 6px 12px;
    text-align: inherit;
    border-radius: 4px;
}

.demo-input-text {
    border: 1px solid #ccc;
    line-height: 34px;
    height: 34px;
    overflow: hidden;
    padding: 6px 12px;
    text-align: inherit;
    border-radius: 4px;
    width: 100%
}


.footer-input-text {
    border: 3px solid #ccc;
    line-height: 34px;
    height: 34px;
    padding: 6px 12px;
    border-radius: 3px;
    width: 100%;
    background-color: #fff;
  }

  .input {

      border: 1px solid #ccc;
      padding: 6px 12px;
      border-radius: 4px;
  }

    input {
        font-family: "Libre Baskerville" !important;
    }
