@font-face {
  font-family: 'typicons';
  src:
    url('fonts/typicons.ttf?680vkg') format('truetype'),
    url('fonts/typicons.woff?680vkg') format('woff'),
    url('fonts/typicons.svg?680vkg#typicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="-"], [class*=" -"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'typicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.-times:before {
  content: "\e900";
}
.-tick:before {
  content: "\e901";
}
.-plus:before {
  content: "\e902";
}
.-minus:before {
  content: "\e903";
}
.-equals:before {
  content: "\e904";
}
.-divide:before {
  content: "\e905";
}
.-chevron-right:before {
  content: "\e906";
}
.-chevron-left:before {
  content: "\e907";
}
.-arrow-right-thick:before {
  content: "\e908";
}
.-arrow-left-thick:before {
  content: "\e909";
}
.-th-small:before {
  content: "\e90a";
}
.-th-menu:before {
  content: "\e90b";
}
.-th-list:before {
  content: "\e90c";
}
.-th-large:before {
  content: "\e90d";
}
.-home:before {
  content: "\e90e";
}
.-arrow-forward:before {
  content: "\e90f";
}
.-arrow-back:before {
  content: "\e910";
}
.-rss:before {
  content: "\e911";
}
.-location:before {
  content: "\e912";
}
.-link:before {
  content: "\e913";
}
.-image:before {
  content: "\e914";
}
.-arrow-up-thick:before {
  content: "\e915";
}
.-arrow-down-thick:before {
  content: "\e916";
}
.-starburst:before {
  content: "\e917";
}
.-starburst-outline:before {
  content: "\e918";
}
.-star:before {
  content: "\e919";
}
.-flow-children:before {
  content: "\e91a";
}
.-export:before {
  content: "\e91b";
}
.-delete:before {
  content: "\e91c";
}
.-delete-outline:before {
  content: "\e91d";
}
.-cloud-storage:before {
  content: "\e91e";
}
.-wi-fi:before {
  content: "\e91f";
}
.-heart:before {
  content: "\e920";
}
.-flash:before {
  content: "\e921";
}
.-cancel:before {
  content: "\e922";
}
.-backspace:before {
  content: "\e923";
}
.-attachment:before {
  content: "\e924";
}
.-arrow-move:before {
  content: "\e925";
}
.-warning:before {
  content: "\e926";
}
.-user:before {
  content: "\e927";
}
.-radar:before {
  content: "\e928";
}
.-lock-open:before {
  content: "\e929";
}
.-lock-closed:before {
  content: "\e92a";
}
.-location-arrow:before {
  content: "\e92b";
}
.-info:before {
  content: "\e92c";
}
.-user-delete:before {
  content: "\e92d";
}
.-user-add:before {
  content: "\e92e";
}
.-media-pause:before {
  content: "\e92f";
}
.-group:before {
  content: "\e930";
}
.-chart-pie:before {
  content: "\e931";
}
.-chart-line:before {
  content: "\e932";
}
.-chart-bar:before {
  content: "\e933";
}
.-chart-area:before {
  content: "\e934";
}
.-video:before {
  content: "\e935";
}
.-point-of-interest:before {
  content: "\e936";
}
.-infinity:before {
  content: "\e937";
}
.-globe:before {
  content: "\e938";
}
.-eye:before {
  content: "\e939";
}
.-cog:before {
  content: "\e93a";
}
.-camera:before {
  content: "\e93b";
}
.-upload:before {
  content: "\e93c";
}
.-scissors:before {
  content: "\e93d";
}
.-refresh:before {
  content: "\e93e";
}
.-pin:before {
  content: "\e93f";
}
.-key:before {
  content: "\e940";
}
.-info-large:before {
  content: "\e941";
}
.-eject:before {
  content: "\e942";
}
.-download:before {
  content: "\e943";
}
.-zoom:before {
  content: "\e944";
}
.-zoom-out:before {
  content: "\e945";
}
.-zoom-in:before {
  content: "\e946";
}
.-sort-numerically:before {
  content: "\e947";
}
.-sort-alphabetically:before {
  content: "\e948";
}
.-input-checked:before {
  content: "\e949";
}
.-calender:before {
  content: "\e94a";
}
.-world:before {
  content: "\e94b";
}
.-notes:before {
  content: "\e94c";
}
.-code:before {
  content: "\e94d";
}
.-arrow-sync:before {
  content: "\e94e";
}
.-arrow-shuffle:before {
  content: "\e94f";
}
.-arrow-repeat:before {
  content: "\e950";
}
.-arrow-minimise:before {
  content: "\e951";
}
.-arrow-maximise:before {
  content: "\e952";
}
.-arrow-loop:before {
  content: "\e953";
}
.-anchor:before {
  content: "\e954";
}
.-spanner:before {
  content: "\e955";
}
.-puzzle:before {
  content: "\e956";
}
.-power:before {
  content: "\e957";
}
.-plane:before {
  content: "\e958";
}
.-pi:before {
  content: "\e959";
}
.-phone:before {
  content: "\e95a";
}
.-microphone:before {
  content: "\e95b";
}
.-media-rewind:before {
  content: "\e95c";
}
.-flag:before {
  content: "\e95d";
}
.-adjust-brightness:before {
  content: "\e95e";
}
.-waves:before {
  content: "\e95f";
}
.-social-twitter:before {
  content: "\e960";
}
.-social-facebook:before {
  content: "\e961";
}
.-social-dribbble:before {
  content: "\e962";
}
.-media-stop:before {
  content: "\e963";
}
.-media-record:before {
  content: "\e964";
}
.-media-play:before {
  content: "\e965";
}
.-media-fast-forward:before {
  content: "\e966";
}
.-media-eject:before {
  content: "\e967";
}
.-social-vimeo:before {
  content: "\e968";
}
.-social-tumbler:before {
  content: "\e969";
}
.-social-skype:before {
  content: "\e96a";
}
.-social-pinterest:before {
  content: "\e96b";
}
.-social-linkedin:before {
  content: "\e96c";
}
.-social-last-fm:before {
  content: "\e96d";
}
.-social-github:before {
  content: "\e96e";
}
.-social-flickr:before {
  content: "\e96f";
}
.-at:before {
  content: "\e970";
}
.-times-outline:before {
  content: "\e971";
}
.-plus-outline:before {
  content: "\e972";
}
.-minus-outline:before {
  content: "\e973";
}
.-tick-outline:before {
  content: "\e974";
}
.-th-large-outline:before {
  content: "\e975";
}
.-equals-outline:before {
  content: "\e976";
}
.-divide-outline:before {
  content: "\e977";
}
.-chevron-right-outline:before {
  content: "\e978";
}
.-chevron-left-outline:before {
  content: "\e979";
}
.-arrow-right-outline:before {
  content: "\e97a";
}
.-arrow-left-outline:before {
  content: "\e97b";
}
.-th-small-outline:before {
  content: "\e97c";
}
.-th-menu-outline:before {
  content: "\e97d";
}
.-th-list-outline:before {
  content: "\e97e";
}
.-news:before {
  content: "\e97f";
}
.-home-outline:before {
  content: "\e980";
}
.-arrow-up-outline:before {
  content: "\e981";
}
.-arrow-forward-outline:before {
  content: "\e982";
}
.-arrow-down-outline:before {
  content: "\e983";
}
.-arrow-back-outline:before {
  content: "\e984";
}
.-trash:before {
  content: "\e985";
}
.-rss-outline:before {
  content: "\e986";
}
.-message:before {
  content: "\e987";
}
.-location-outline:before {
  content: "\e988";
}
.-link-outline:before {
  content: "\e989";
}
.-image-outline:before {
  content: "\e98a";
}
.-export-outline:before {
  content: "\e98b";
}
.-cross:before {
  content: "\e98c";
}
.-wi-fi-outline:before {
  content: "\e98d";
}
.-star-outline:before {
  content: "\e98e";
}
.-media-pause-outline:before {
  content: "\e98f";
}
.-mail:before {
  content: "\e990";
}
.-heart-outline:before {
  content: "\e991";
}
.-flash-outline:before {
  content: "\e992";
}
.-cancel-outline:before {
  content: "\e993";
}
.-beaker:before {
  content: "\e994";
}
.-arrow-move-outline:before {
  content: "\e995";
}
.-watch:before {
  content: "\e996";
}
.-warning-outline:before {
  content: "\e997";
}
.-time:before {
  content: "\e998";
}
.-radar-outline:before {
  content: "\e999";
}
.-lock-open-outline:before {
  content: "\e99a";
}
.-location-arrow-outline:before {
  content: "\e99b";
}
.-info-outline:before {
  content: "\e99c";
}
.-backspace-outline:before {
  content: "\e99d";
}
.-attachment-outline:before {
  content: "\e99e";
}
.-user-outline:before {
  content: "\e99f";
}
.-user-delete-outline:before {
  content: "\e9a0";
}
.-user-add-outline:before {
  content: "\e9a1";
}
.-lock-closed-outline:before {
  content: "\e9a2";
}
.-group-outline:before {
  content: "\e9a3";
}
.-chart-pie-outline:before {
  content: "\e9a4";
}
.-chart-line-outline:before {
  content: "\e9a5";
}
.-chart-bar-outline:before {
  content: "\e9a6";
}
.-chart-area-outline:before {
  content: "\e9a7";
}
.-video-outline:before {
  content: "\e9a8";
}
.-point-of-interest-outline:before {
  content: "\e9a9";
}
.-map:before {
  content: "\e9aa";
}
.-key-outline:before {
  content: "\e9ab";
}
.-infinity-outline:before {
  content: "\e9ac";
}
.-globe-outline:before {
  content: "\e9ad";
}
.-eye-outline:before {
  content: "\e9ae";
}
.-cog-outline:before {
  content: "\e9af";
}
.-camera-outline:before {
  content: "\e9b0";
}
.-upload-outline:before {
  content: "\e9b1";
}
.-support:before {
  content: "\e9b2";
}
.-scissors-outline:before {
  content: "\e9b3";
}
.-refresh-outline:before {
  content: "\e9b4";
}
.-info-large-outline:before {
  content: "\e9b5";
}
.-eject-outline:before {
  content: "\e9b6";
}
.-download-outline:before {
  content: "\e9b7";
}
.-battery-mid:before {
  content: "\e9b8";
}
.-battery-low:before {
  content: "\e9b9";
}
.-battery-high:before {
  content: "\e9ba";
}
.-zoom-outline:before {
  content: "\e9bb";
}
.-zoom-out-outline:before {
  content: "\e9bc";
}
.-zoom-in-outline:before {
  content: "\e9bd";
}
.-tag:before {
  content: "\e9be";
}
.-tabs-outline:before {
  content: "\e9bf";
}
.-pin-outline:before {
  content: "\e9c0";
}
.-message-typing:before {
  content: "\e9c1";
}
.-directions:before {
  content: "\e9c2";
}
.-battery-full:before {
  content: "\e9c3";
}
.-battery-charge:before {
  content: "\e9c4";
}
.-pipette:before {
  content: "\e9c5";
}
.-pencil:before {
  content: "\e9c6";
}
.-folder:before {
  content: "\e9c7";
}
.-folder-delete:before {
  content: "\e9c8";
}
.-folder-add:before {
  content: "\e9c9";
}
.-edit:before {
  content: "\e9ca";
}
.-document:before {
  content: "\e9cb";
}
.-document-delete:before {
  content: "\e9cc";
}
.-document-add:before {
  content: "\e9cd";
}
.-brush:before {
  content: "\e9ce";
}
.-thumbs-up:before {
  content: "\e9cf";
}
.-thumbs-down:before {
  content: "\e9d0";
}
.-pen:before {
  content: "\e9d1";
}
.-sort-numerically-outline:before {
  content: "\e9d2";
}
.-sort-alphabetically-outline:before {
  content: "\e9d3";
}
.-social-last-fm-circular:before {
  content: "\e9d4";
}
.-social-github-circular:before {
  content: "\e9d5";
}
.-compass:before {
  content: "\e9d6";
}
.-bookmark:before {
  content: "\e9d7";
}
.-input-checked-outline:before {
  content: "\e9d8";
}
.-code-outline:before {
  content: "\e9d9";
}
.-calender-outline:before {
  content: "\e9da";
}
.-business-card:before {
  content: "\e9db";
}
.-arrow-up:before {
  content: "\e9dc";
}
.-arrow-sync-outline:before {
  content: "\e9dd";
}
.-arrow-right:before {
  content: "\e9de";
}
.-arrow-repeat-outline:before {
  content: "\e9df";
}
.-arrow-loop-outline:before {
  content: "\e9e0";
}
.-arrow-left:before {
  content: "\e9e1";
}
.-flow-switch:before {
  content: "\e9e2";
}
.-flow-parallel:before {
  content: "\e9e3";
}
.-flow-merge:before {
  content: "\e9e4";
}
.-document-text:before {
  content: "\e9e5";
}
.-clipboard:before {
  content: "\e9e6";
}
.-calculator:before {
  content: "\e9e7";
}
.-arrow-minimise-outline:before {
  content: "\e9e8";
}
.-arrow-maximise-outline:before {
  content: "\e9e9";
}
.-arrow-down:before {
  content: "\e9ea";
}
.-gift:before {
  content: "\e9eb";
}
.-film:before {
  content: "\e9ec";
}
.-database:before {
  content: "\e9ed";
}
.-bell:before {
  content: "\e9ee";
}
.-anchor-outline:before {
  content: "\e9ef";
}
.-adjust-contrast:before {
  content: "\e9f0";
}
.-world-outline:before {
  content: "\e9f1";
}
.-shopping-bag:before {
  content: "\e9f2";
}
.-power-outline:before {
  content: "\e9f3";
}
.-notes-outline:before {
  content: "\e9f4";
}
.-device-tablet:before {
  content: "\e9f5";
}
.-device-phone:before {
  content: "\e9f6";
}
.-device-laptop:before {
  content: "\e9f7";
}
.-device-desktop:before {
  content: "\e9f8";
}
.-briefcase:before {
  content: "\e9f9";
}
.-stopwatch:before {
  content: "\e9fa";
}
.-spanner-outline:before {
  content: "\e9fb";
}
.-puzzle-outline:before {
  content: "\e9fc";
}
.-printer:before {
  content: "\e9fd";
}
.-pi-outline:before {
  content: "\e9fe";
}
.-lightbulb:before {
  content: "\e9ff";
}
.-flag-outline:before {
  content: "\ea00";
}
.-contacts:before {
  content: "\ea01";
}
.-archive:before {
  content: "\ea02";
}
.-weather-stormy:before {
  content: "\ea03";
}
.-weather-shower:before {
  content: "\ea04";
}
.-weather-partly-sunny:before {
  content: "\ea05";
}
.-weather-downpour:before {
  content: "\ea06";
}
.-weather-cloudy:before {
  content: "\ea07";
}
.-plane-outline:before {
  content: "\ea08";
}
.-phone-outline:before {
  content: "\ea09";
}
.-microphone-outline:before {
  content: "\ea0a";
}
.-weather-windy:before {
  content: "\ea0b";
}
.-weather-windy-cloudy:before {
  content: "\ea0c";
}
.-weather-sunny:before {
  content: "\ea0d";
}
.-weather-snow:before {
  content: "\ea0e";
}
.-weather-night:before {
  content: "\ea0f";
}
.-media-stop-outline:before {
  content: "\ea10";
}
.-media-rewind-outline:before {
  content: "\ea11";
}
.-media-record-outline:before {
  content: "\ea12";
}
.-media-play-outline:before {
  content: "\ea13";
}
.-media-fast-forward-outline:before {
  content: "\ea14";
}
.-media-eject-outline:before {
  content: "\ea15";
}
.-wine:before {
  content: "\ea16";
}
.-waves-outline:before {
  content: "\ea17";
}
.-ticket:before {
  content: "\ea18";
}
.-tags:before {
  content: "\ea19";
}
.-plug:before {
  content: "\ea1a";
}
.-headphones:before {
  content: "\ea1b";
}
.-credit-card:before {
  content: "\ea1c";
}
.-coffee:before {
  content: "\ea1d";
}
.-book:before {
  content: "\ea1e";
}
.-beer:before {
  content: "\ea1f";
}
.-volume:before {
  content: "\ea20";
}
.-volume-up:before {
  content: "\ea21";
}
.-volume-mute:before {
  content: "\ea22";
}
.-volume-down:before {
  content: "\ea23";
}
.-social-vimeo-circular:before {
  content: "\ea24";
}
.-social-twitter-circular:before {
  content: "\ea25";
}
.-social-pinterest-circular:before {
  content: "\ea26";
}
.-social-linkedin-circular:before {
  content: "\ea27";
}
.-social-facebook-circular:before {
  content: "\ea28";
}
.-social-dribbble-circular:before {
  content: "\ea29";
}
.-tree:before {
  content: "\ea2a";
}
.-thermometer:before {
  content: "\ea2b";
}
.-social-tumbler-circular:before {
  content: "\ea2c";
}
.-social-skype-outline:before {
  content: "\ea2d";
}
.-social-flickr-circular:before {
  content: "\ea2e";
}
.-social-at-circular:before {
  content: "\ea2f";
}
.-shopping-cart:before {
  content: "\ea30";
}
.-messages:before {
  content: "\ea31";
}
.-leaf:before {
  content: "\ea32";
}
.-feather:before {
  content: "\ea33";
}
