<template>
  <div class="">
    <webheader />
    <aboveTheFold />
    <section class="relative">
      <header :class="{'scrolled-in': scrolledToFeaturedArticles}" class="slarge-featured-articles-header inline-block slarge-position-absolute slarge-left-0 slarge-z-index-2 slarge-padding4 slarge-padding-h2 slarge-transition-long slarge-t-left slarge-uppercase">
        <h2 class="slarge-featured-articles-heading slarge-transition-short slarge-font-hind-guntur slarge-type-very-small slarge-small-spacing slarge-text-red pointer">Featured Articles</h2>
      </header>
      <div :style="{transform: 'translateY(' + translateYBelowFold + 'px)', opacity: translateYBelowFold === -200 ? 1 : 0}" class="slarge-padding-h slarge-margin-v-top4 slarge-padding-v-top6 slarge-transition-long slarge-vertical-align-top slarge-bkgrnd-white slarge-t-right relative">
        <div v-for="article, i in articles" class="slarge-featured-article inline-block slarge-percent-width-5-12 slarge-padding-h2 slarge-t-left pointer relative">
          <div class="slarge-padding-h relative">
            <article class="inline-block slarge-percent-width-3-4 slarge-padding-v-top8 slarge-z-index-1 relative">
              <div class="relative">
                <div class="slarge-featured-article-meta slarge-position-absolute slarge-bottom-0 slarge-left-0 slarge-margin-v-bottom slarge-transition-long slarge-type-very-small slarge-text-grey">
                  <div class="slarge-margin-v-bottom">
                    {{ article.author_name }}
                  </div>
                  <span>{{ article.published_at_date }}</span>
                </div>
              </div>
              <h2 class="slarge-article-heading slarge-article-heading-after-line slarge-margin-v-bottom2 slarge-padding-v-bottom2 slarge-type-medium slarge-line-height-small slarge-font-hind-guntur slarge-text-dark relative" v-html="articleTitle(article.title)">

                <!-- running
                <div class="slarge-type-medium slarge-normalweight">a frontend infrastructure team.</div> -->
              </h2>
              <p class="slarge-percent-width-7-10 slarge-type-small slarge-text-grey slarge-line-height-medium">{{ article.content }}</p>
            </article>
            <figure class="slarge-article-feature-image-normal-position slarge-article-feature-image-dimensions slarge-article-feature-image-shadow slarge-article-feature-image slarge-z-index-0 slarge-bkgrnd-white relative":style="{backgroundImage: 'url(' + article.img + ')', color: randomColors()}">
              <img src="" alt="">
            </figure>
          </div>
        </div>



        <div class="slarge-display-none inline-block slarge-percent-width-5-12 slarge-percent-height-100 slarge-padding2 slarge-padding-h4 slarge-padding-v-top8 slarge-t-middle">
          <div class="inline-block slarge-percent-width-9-10 slarge-t-left relative">
            <article class="inline-block slarge-percent-width-3-4 slarge-z-index-1 relative">
              <figure class="">
                <div class="slarge-work-image-dimensions slarge-bkgrnd-dark">
                  <img src="" alt="" class="slarge-display-none">
                </div>
                <figcaption class="slarge-margin-v-top slarge-text-light-grey">
                  <div class="slarge-margin-v-bottom2 slarge-type-very-small">
                    by
                    <em>Promise tochi</em>
                  </div>
                  <h2 class="slarge-article-heading slarge-margin-v-bottom2 slarge-padding-v-bottom2 slarge-type-very-large slarge-bold slarge-font-hind-guntur relative">
                    <div class="">
                      marcus
                    </div>
                    <div class="">
                      erikson
                    </div>
                  </h2>
                </figcaption>
              </figure>
            </article>
          </div>
        </div>


      </div>
    </section>

  </div>
</template>

<script>
import webheader from 'components/header'
import aboveTheFold from 'components/aboveTheFold'
import featuredArticle1 from 'components/featured-article-1'
export default {
  name: 'home',
  data () {
    return {
      articles: [{
        id: "somerandomshit",
        title: "running a Frontend Infrastructure Team",
        content: "User interface design has changed dramatically in the last few years, as traditional computers have ceded dominance to smaller screens, including tablets, mobile phones, smartwatches and more.",
        img: "https://source.unsplash.com/600x800?run",
        author_name: "Promise Tochi",
        authorId: "id",
        published_at_date: "12-11-2017"
      }, {
        id: "somerandomshit",
        title: "guide to VR for frontend developers",
        content: "User interface design has changed dramatically in the last few years, as traditional computers have ceded dominance to smaller screens, including tablets, mobile phones, smartwatches and more.",
        img: "https://source.unsplash.com/600x800?book",
        author_name: "Promise Tochi",
        authorId: "id",
        published_at_date: "12-11-2017"
      }, {
        id: "somerandomshit",
        title: "considering Open Source Licenses",
        content: "Open source projects promise to speed your product delivery with virtually no cost. But different licenses for projects can impact your own work in significant ways. Phillip Ikuvbogie wants to help you learn the differences between popular open source licenses and how you can incorporate open source projects effectively.",
        img: "https://source.unsplash.com/600x800?law",
        author_name: "Promise Tochi",
        authorId: "id",
        published_at_date: "12-11-2017"
      }, {
        id: "somerandomshit",
        title: "exploring Animation And Interaction Techniques With WebGL ",
        content: `Two years ago, I decided to start a series of short WebGL experiments on Codepen. Earlier this year, I finally found the time to compile them all together on a single website named "Moments of Happiness". Since its incarnation, I’ve found ways to explore and learn different animation and interaction techniques, which I’ve implemented in these interactive toys.`,
        img: "https://source.unsplash.com/600x800?futuristic",
        author_name: "Promise Tochi",
        authorId: "id",
        published_at_date: "12-11-2017"
      }, {
        id: "somerandomshit",
        title: "User Authentication For Web And iOS Apps With AWS Cognito",
        content: "In today's digital landscape, developers constantly need to be adding new tools to remain competitive and at the top of their craft.",
        img: "https://source.unsplash.com/600x800?military",
        author_name: "Promise Tochi",
        authorId: "id",
        published_at_date: "12-11-2017"
      }, {
        id: "somerandomshit",
        title: "Building Inclusive Toggle Buttons",
        content: "Some things are either on or off and, when those things aren’t on (or off), they are invariably off (or on). The concept is so rudimentary that I’ve only complicated it by trying to explain it, yet on/off switches (or toggle buttons) are not all alike. Although their purpose is simple, their applications and forms vary greatly.",
        img: "https://source.unsplash.com/600x800?elder",
        author_name: "Promise Tochi",
        authorId: "id",
        published_at_date: "12-11-2017"
      }],
      articlesOffset: [],
      articleScrolledIn: 0,
      translateYBelowFold: 10,
      aboveFoldBackgroundTranslateY: 0,
      scrolledToFeaturedArticles: false
    }
  },
  methods: {
    articleTitle (str) {
      const big = str.substring(0, str.indexOf(" ")).toLowerCase()
      const bigHTML = "<div class='slarge-type-very-large slarge-bold'>" + big +"</div>"
      return bigHTML + str.substring(str.indexOf(" "))
    },
    randomColors () {
      const colorRed = (Math.floor(Math.random() * (235 - 180 + 1)) + 180);
      const colorBlue = (Math.floor(Math.random() * (235 - 180 + 1)) + 180);
      const colorGreen = (Math.floor(Math.random() * (210 - 190 + 1)) + 190);
      const color = 'rgba(' + colorRed + ', ' + colorGreen + ', ' + colorBlue + ', 1)';
      return color
    },
    updateBFTY (obj) {
      // console.log(obj)

      if (obj.scrollTop > window.innerHeight/3.4 && obj.scrollTop < window.innerHeight/1.2) {
        if (obj.direction === 'down')
        this.translateYBelowFold = -200
        return
      } else if (obj.scrollTop < window.innerHeight/3.4) {
        if (obj.direction === 'up')
        this.translateYBelowFold = 120
      }

      if (obj.scrollTop > window.innerHeight/6.5) {
        if (!this.scrolledToFeaturedArticles)
        this.scrolledToFeaturedArticles = true
      } else {
        this.scrolledToFeaturedArticles = false
      }
    },
    scrollInArticles (obj) {
      this.articlesOffset.forEach((artic) => {
        if (obj.scrollTop > artic.offset) {
          artic.el.classList.add("scrolled-in")
          console.log('a')
        } else if (obj.scrollTop < artic.offset - window.innerHeight/1.85) {
          artic.el.classList.remove("scrolled-in")
        }
        return false
      });
    }

  },
  components: {
    webheader, aboveTheFold
  },
  mounted () {
    window.FNG.funcs.on(`windowScroll`, {
      min: window.innerHeight/2.5,
      max: window.innerHeight,
      movement: 'both',
      data: ['direction', 'scrollTop'],
      callback: this.scrollInArticles.bind(this)
    })

    window.FNG.funcs.on(`windowScroll`, {
      min: window.innerHeight/2.5,
      max: window.innerHeight,
      movement: 'both',
      data: ['direction', 'scrollTop'],
      callback: this.updateBFTY.bind(this)
    })

    this.articlesOffset = Array.from(this.$el.getElementsByClassName("slarge-featured-article")).map((el) => {
      const wo = window.pageYOffset
      const obj = {scrolled: false}
      const off = el.getBoundingClientRect().top - 120 - window.innerHeight/1.8
      if (wo > off) {
        obj.scrolled = true
      }
      obj.offset = off + wo
      obj.el = el
      return obj
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
