<template lang="html">
  <section class="slarge-viewport-height-100">
    <div :style="{transform: 'translateY(' + aboveFoldBackgroundTranslateY + '%' }" class="slarge-position-absolute slarge-top-0 slarge-left-0 slarge-percent-width-1 slarge-percent-height-100 slarge-transition-long slarge-bkgrnd-secondary-white"></div>

    <div class="slarge-position-absolute slarge-bottom-0 slarge-left-50percent slarge-translate-x--50percent">
      <ul class="slarge-margin-v-bottom2 slarge-capitalize">
        <li v-for="tab in tabs" v-on:click="activeTab = tab" :class="{
          'slarge-text-dark-grey slarge-type-small': activeTab === tab
        }" class="inline-block slarge-margin-h-right2 slarge-text-light-grey slarge-transition-short pointer">{{tab}}</li>
      </ul>
      <div class="slarge-above-fold-article slarge-t-middle relative">
        <article v-for="(content, i) in contents" :style="{'color': contentAnimateColors[i]}" :class="{
          'active': activeTab === tabs[i]}" class="slarge-article inline-block slarge-percent-width-1 slarge-percent-height-100 slarge-bkgrnd-white slarge-t-middle">
          <div class="slarge-article-padding slarge-article-animate slarge-percent-width-1 slarge-percent-height-100 slarge-o-hidden relative">
            <div class="inline-block slarge-percent-width-3-4 slarge-t-left">
              <h2 v-html="content.title" class="slarge-article-heading slarge-article-heading-after-line slarge-margin-v-bottom2 slarge-padding-v-bottom slarge-type-very-large slarge-font-hind-guntur slarge-bold slarge-text-dark relative">\</h2>
              <p class="slarge-type-small slarge-line-height-medium slarge-text-dark-grey">{{content.desc}}</p>
            </div>
          </div>


          <figure :style="{
            transform: activeTab === tabs[i] && 'translate(80%, ' + translateY + 'px',
            backgroundImage: 'url(' + content.imgURL + ')' }" class="slarge-article-feature-image-above-fold slarge-article-feature-image-dimensions slarge-article-feature-image-above-fold-animation slarge-article-feature-image-background slarge-bkgrnd-white">
            <div class="slarge-article-feature-image-border slarge-position-absolute slarge-top-0 slarge-left-0 slarge-percent-width-1 slarge-percent-height-100"></div>
            <img :src="content.imgURL" alt="launch-featured-image" class="slarge-display-none">
          </figure>
        </article>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'aboveTheFold',
  data () {
    return {
      tabs: ['launch', 'contribute', 'styleguide'],
      contents: [{
        title: 'the <br> launch!',
        desc: 'User interface design has changed dramatically in the last few years, as traditional computers have ceded dominance to smaller screens, including tablets, mobile phones, smartwatches and more.',
        imgURL: 'https://source.unsplash.com/600x800?launch'
      }, {
        title: 'contribute too',
        desc: 'User interface design has changed dramatically in the last few years, as traditional computers have ceded dominance to smaller screens, including tablets, mobile phones, smartwatches and more.',
        imgURL: '/static/img/vermont.png'
      }, {
        title: 'the styleguide',
        desc: 'User interface design has changed dramatically in the last few years, as traditional computers have ceded dominance to smaller screens, including tablets, mobile phones, smartwatches and more.',
        imgURL: '/static/img/vermont.png'
      }],
      contentAnimateColors: ["#f4CEB7", "#eFfFbB", "#C9dFf5"],
      activeTab: 'launch',
      translateY: 0,
      aboveFoldBackgroundTranslateY: 0
    }
  },
  computed: {
  },
  methods: {
    translateOnScroll (obj) {
      const trans = Math.min(Math.ceil(obj.scrollTop / window.innerHeight * 10) * 20, 125)

      requestAnimationFrame(function () {
        this.translateY = trans
      }.bind(this))
    },
    updateAFTY (obj) {
      const trans = Math.ceil(obj.scrollTop / window.innerHeight * 10) * -20
      this.aboveFoldBackgroundTranslateY = trans
    },
    tabClick (e) {
      const t = e.target
      if (e.currentTarget !== t) {
        const p = t.dataset.position
        this.tabs[this.activeTab].active = false
        this.tabs[p].active = true
      }
    }
  },
  components: {
  },
  mounted () {
    const translate = this.translateOnScroll
    window.FNG.funcs.on(`windowScroll`, {
      min: 0,
      max: window.innerHeight,
      movement: 'both',
      data: ['direction', 'scrollTop'],
      callback: translate
    })

    window.FNG.funcs.on(`windowScroll`, {
      min: 0,
      max: window.innerHeight,
      movement: 'both',
      data: ['direction', 'scrollTop'],
      callback: this.updateAFTY.bind(this)
    })
  }
}
</script>

<style lang="css">
</style>
