<template lang="html">
  <div class="inline-block slarge-percent-width-5-12 slarge-percent-height-100 slarge-padding-h2 slarge-padding-v-top8 slarge-t-left">
    <article class="inline-block slarge-percent-width-3-5 slarge-z-index-1 relative">
      <h2 class="slarge-article-heading slarge-article-heading-after-line slarge-margin-v-bottom2 slarge-padding-v-bottom2 slarge-type-extra-large slarge-bold slarge-font-hind-guntur relative">
        running
        <div class="slarge-type-moremedium slarge-normalweight">a frontend infrastructure team.</div>
      </h2>
      <p class="slarge-percent-width-3-5 slarge-type-small slarge-text-dark-grey slarge-line-height-medium">User interface design has changed dramatically in the last few years, as traditional computers have ceded dominance to smaller screens, including tablets, mobile phones, smartwatches and more.</p>
    </article>
    <figure class="slarge-display-none slarge-article-feature-image-normal-position slarge-article-feature-image-dimensions slarge-article-feature-image-background slarge-z-index-0">
      <img src="" alt="">
    </figure>
  </div>
</template>

<script>
export default {
  name: 'featuredArticle1'
}
</script>

<style lang="css">
</style>
