<template lang="html">
  <header class='main-header slarge-position-fixed slarge-top-0 slarge-left-0 slarge-bkgrnd-white slarge-text-dark-grey relative'>
    <div class="slarge-padding2">
      <!-- <h1>FrontendNG</h1> -->
    </div>
    <div class="slarge-position-absolute slarge-bottom-0 slarge-left-0 slarge-margin2">
      <ul class="slarge-type-very-small slarge-font-hind-guntur">
        <li v-for="item in nav_links" class="slarge-margin-v-bottom05">
          <a href="#" class="slarge-nav-link-tag inline-block slarge-padding-v-bottom05 slarge-o-hidden relative" :data-text='item'>{{ item }}</a>
        </li>
      </ul>
      <div class="slarge-margin-v-top4">
        <span class="slarge-margin-h-right">
          <i class="icon-ion-social-facebook"></i>
        </span>
        <span class="slarge-margin-h-right">
          <i class="icon-ion-social-twitter"></i>
        </span>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'webheader',
  data () {
    return {
      nav_links: ['Articles', 'Works', 'About', 'Newsletter']
    }
  }
}
</script>

<style lang="css">
</style>
