/* =============================================================================
---------------------------------------LAYOUT-----------------------------------
==============================================================================*/




/* =============================================================================
---------------------------------------COLORS-----------------------------------
==============================================================================*/




/*$secondarycolor: $(secondary_color);*/




/*$secondarycontrastcolor: $(secondary_contrast_color);*/




/*$headingcolor: $(heading_color);*/




/*$bodytext: $(text_color);*/




/*$backgroundcolor: $(background_color);*/




/* =============================================================================
------------------------------------MEDIAQUERIES--------------------------------
==============================================================================*/




/* =============================================================================
------------------------------------LINES--------------------------------
==============================================================================*/




.slarge-t-left {
}




.slarge-t-middle {
}




.slarge-t-right {
}




.slarge-row {
}




.slarge-row > * {
}




/* Verical Alignment */




.slarge-vertical-align-middle > * {
  vertical-align: middle
}




.slarge-vertical-align-top > * {
  vertical-align: top
}




.slarge-vertical-align-bottom > * {
  vertical-align: baseline;
}




.slarge-bkgrnd-white {
}




.slarge-bkgrnd-secondary-white {
}




.slarge-bkgrnd-light-grey {
}




.slarge-bkgrnd-blue {
}




.slarge-bkgrnd-yellow {
}




.slarge-bkgrnd-green {
}




.slarge-bkgrnd-light-blue {

    /*background-color: @ml #b3d4fc;*/
}




.slarge-bkgrnd-grey {
}




.slarge-bkgrnd-dark {
}




.slarge-bkgrnd-red {
}




.slarge-bkgrnd-black {
}




/******* TEXT COLORS ***********/




.slarge-text-white {

    color: #fff
}




.slarge-text-light-grey {

    color: #bab
}




.slarge-text-dark-grey {
    color: #666666;
}




.slarge-text-blue {

    color: #448dde
}




.slarge-text-yellow {

    color: #f9b202
}




.slarge-text-green {

    color: #64c073
}




.slarge-text-light-blue {

    color: #b3d4fc
}




.slarge-text-grey {

    color: #778
}




.slarge-text-red {

    color: #e82110;
}




.slarge-text-dark {

  color: #3a3a3f;
}




.slarge-text-black {

  color: #000;
}




.slarge-percent-height-100 {
}




.slarge-percent-height-90 {
}




.slarge-percent-height-80 {
}




.slarge-percent-height-70 {
}




.slarge-percent-height-60 {
}




.slarge-percent-height-50 {
}




.slarge-percent-height-40 {
}




.slarge-percent-height-30 {
}




.slarge-percent-height-20 {
}




.slarge-percent-height-10 {
}




.slarge-viewport-height-100 {
}




.slarge-viewport-height-90 {
}




.slarge-viewport-height-80 {
}




.slarge-viewport-height-70 {
}




.slarge-viewport-height-60 {
}




.slarge-viewport-height-50 {
}




.slarge-viewport-height-40 {
}




.slarge-viewport-height-30 {
}




.slarge-viewport-height-20 {
}




.slarge-viewport-height-10 {
}




/*@import "partials/screens/large/_icons.css";*/




*, ul, figure {

    -webkit-box-sizing: border-box;

            box-sizing: border-box;

    padding: 0px;

    margin: 0px;

    border: 0;

    font: inherit;

    vertical-align: baseline;

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;
}




li {

    list-style-type: none
}




address {

    font-style: normal
}




a, img {

    border: none
}




sup, sub {

  font-size: 0.5rem;

  -webkit-transform: translateX(100%);

          transform: translateX(100%)
}




a {

    text-decoration: none;
}




img, video {

    max-width: 100%;
}




body {

    overflow-x: hidden
}




button, a {

    background: none;

    border: none;

    color: inherit;

    font-family: inherit
}




input {

    background: none;

    border: none;

    text-align: inherit;

    font-size: inherit;

    font-family: inherit;

    color: inherit;

    outline: 0px
}




h1, h2, h3, h4, h5, h6, .header-font {

    margin: 0px;
}




/*Use inline-block to make elements stack side-by-side (create a row of elements)*/




.inline-block {

    display: inline-block
}




/*Use this on an element containing elements that has the 'inline-block' class */




/*Browsers insert a 4px white-space in-between inline-blocks, so if create two 50% inline-block, they won't stay on the same line because the browser has added 4px in-between them, use the class 'inline-blks-container' on the immediate parent element containing the blocks to remove the 4px white-space*/




/**********

The benefit of using 'inline-block' for layout is that you can easily align elements (example: an inline-block div) to the right, left or center with `text-align: left/right/center;`. Make elements behave like block elements by just making their width 100%.

***********/




/* MISCELLANEOUS */




.relative {
    position: relative;
}




.back-one-step{
    z-index:-1;
}




.background-image-cover-centered {

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}




.slarge-z-index-0 {
}




.slarge-z-index-1 {
}




.slarge-z-index-2 {
}




.slarge-position-absolute {
}




.slarge-position-fixed {
}




.slarge-top-0 {
}




.slarge-left-0 {
}




.slarge-right-0 {
}




.slarge-bottom-0 {
}




.slarge-left-50percent {
}




.slarge-top-50percent {
}




.slarge-translate-x--50percent {
}




.slarge-translate-x--50percent-y--50percent {
}




.slarge-translate-y--50percent {
}




.slarge-padding0125 {
}




.slarge-padding025 {
}




.slarge-padding {
}




.slarge-padding05 {
}




.slarge-padding2 {
}




.slarge-padding4 {
}




.slarge-padding6 {
}




.slarge-padding8 {
}




.slarge-padding-h05 {
}




.slarge-padding-h05 {
}




.slarge-padding-h {
}




.slarge-padding-h {
}




.slarge-padding-h2 {
}




.slarge-padding-h2 {
}




.slarge-padding-h4 {
}




.slarge-padding-h4 {
}




.slarge-padding-h6 {
}




.slarge-padding-h6 {
}




.slarge-padding-v05 {
}




.slarge-padding-v05 {
}




.slarge-padding-v {
}




.slarge-padding-v {
}




.slarge-padding-v2 {
}




.slarge-padding-v2 {
}




.slarge-padding-v4 {
}




.slarge-padding-v4 {
}




.slarge-padding-v6 {
}




.slarge-padding-v6 {
}




.slarge-padding-h-right05 {
}




.slarge-padding-h-right {
}




.slarge-padding-h-right2 {
}




.slarge-padding-h-right4 {
}




.slarge-padding-h-left05 {
}




.slarge-padding-h-left {
}




.slarge-padding-h-left2 {
}




.slarge-padding-h-left4 {
}




.slarge-padding-v-bottom05 {
}




.slarge-padding-v-bottom {
}




.slarge-padding-v-bottom2 {
}




.slarge-padding-v-bottom4 {
}




.slarge-padding-v-bottom6 {
}




.slarge-padding-v-bottom8 {
}




.slarge-padding-v-top05 {
}




.slarge-padding-v-top {
}




.slarge-padding-v-top2 {
}




.slarge-padding-v-top4 {
}




.slarge-padding-v-top6 {
}




.slarge-padding-v-top8 {
}




.slarge-margin {
}




.slarge-margin2 {
}




.slarge-margin4 {
}




.slarge-margin-h05 {
}




.slarge-margin-h05 {
}




.slarge-margin-h {
}




.slarge-margin-h {
}




.slarge-margin-h2 {
}




.slarge-margin-h2 {
}




.slarge-margin-h4 {
}




.slarge-margin-h4 {
}




.slarge-margin-v05 {
}




.slarge-margin-v05 {
}




.slarge-margin-v {
}




.slarge-margin-v {
}




.slarge-margin-v2 {
}




.slarge-margin-v2 {
}




.slarge-margin-v4 {
}




.slarge-margin-v4 {
}




.slarge-margin-v6 {
}




.slarge-margin-v6 {
}




.slarge-margin-h-right {
}




.slarge-margin-h-right2 {
}




.slarge-margin-h-right4 {
}




.slarge-margin-h-left {
}




.slarge-margin-h-left2 {
}




.slarge-margin-h-left4 {
}




.slarge-margin-v4 {
}




.slarge-margin-v-bottom05 {
}




.slarge-margin-v-bottom {
}




.slarge-margin-v-bottom2 {
}




.slarge-margin-v-bottom4 {
}




.slarge-margin-v-top {
}




.slarge-margin-v-top2 {
}




.slarge-margin-v-top4 {
}




.slarge-margin-v-top6 {
}




html, body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal
}




.icon-medium-size {
}




.icon-normal-size {
}




.icon-small-size {
}




.icon-tiny-size {
}




/*********** HELPER TYPOGRAPHY CLASSES *********/




.slarge-uppercase {
}




.slarge-capitalize {
}




.slarge-underline {
}




.slarge-strikethrough {
}




.slarge-bold {
}




.slarge-medium {
}




.slarge-normalweight {
}




.slarge-slim {
}




.slarge-thin {
}




.slarge-wide-spacing {
}




.slarge-medium-spacing {
}




.slarge-small-spacing {
}




.slarge-neg-spacing {
}




.slarge-line-height-small {
}




.slarge-line-height-medium {
}




.slarge-line-height-large {
}




.slarge-alternate-font {
}




/* Font sizes */




.slarge-type-extra-large {
}




.slarge-type-very-large {
}




.slarge-type-large {
}




.slarge-type-low-large {
}




.slarge-type-moremedium {
}




.slarge-type-medium {
}




.slarge-type-normal {
}




.slarge-type-small {
}




.slarge-type-very-small {
}




.slarge-border-width-1px {
    border-width: 1px;
}




.slarge-border-width-2px {
    border-width: 2px;
}




.slarge-border-width-3px {
    border-width: 3px;
}




.slarge-border-width-4px {
    border-width: 4px;
}




/* Border color */




.slarge-border-color-white {
  border-color: #fff;
}




.slarge-border-color-dark {
  border-color: #000;
}




.slarge-border-color-light-grey {
  border-color: #eee;
}




.slarge-border-style-solid {
  border-style: solid;
}




.slarge-border-1px-dotted {
}




.slarge-border-1px-bottom {
}




.slarge-border-bottom-width-1 {
}




.slarge-border-1px-left {
}




.slarge-border-1px-right {
}




.slarge-border-1px-top {
}




.slarge-border-1px-bottom {
}




.dsktp-largeborder {
}




.dsktp-largeborder-dotted {
}




.dsktp-largeborder-bottom {
}




.dsktp-largeborder-left {
}




.dsktp-largeborder-right {
}




.dsktp-largeborder-top {
}




.dsktp-mediumborder {
}




.dsktp-border-grey {
}




.dsktp-border-dark-grey {
}




.dsktp-border-blue {
}




.dsktp-border-dark {
}




.dsktp-border-red {
}




.dsktp-border-green {
}




.dsktp-default-radius-small {
}




.dsktp-default-radius {
}




.half-transparent {

    opacity: 0.5;
}




.nearly-transparent {

    opacity: 0.1;
}




.twenty-transparent {

    opacity: 0.2;
}




.slightly-transparent {

    opacity: 0.88;
}




.small-box-shadow {

    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05), -1px 0px 2px rgba(0, 0, 0, 0.05);

            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05), -1px 0px 2px rgba(0, 0, 0, 0.05);

}




.slarge-box-shadow-large {
}




.slarge-box-shadow-bottom {
}




.slarge-circle {
}




.pointer {

    cursor: pointer;
}




.slarge-icon-square-very-small {
}




.slarge-icon-square-small {
}




.icon-square-normal {
    height: 3rem;
    width: 3rem;
}




.icon-square-medium {
    height: 4rem;
    width: 4rem;
}




.icon-square-large {
    height: 6rem;
    width: 6rem;
}




.transition-short {

    -webkit-transition: 0.2s;

    transition: 0.2s;
}




.emerge:hover {

    -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);

            box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}




.slarge-transition-short {
}




.slarge-transition-normal {
}




.slarge-transition-long {
}




.vibrate:hover {
    -webkit-animation: vibrate 0.1s ease-out 3;
            animation: vibrate 0.1s ease-out 3;
}




@-webkit-keyframes vibrate {

    0% {
        -webkit-transform: translateX(-0.5px);
                transform: translateX(-0.5px);
    }

    100% {
        -webkit-transform: translateX(1px);
                transform: translateX(1px);
    }

}




@keyframes vibrate {

    0% {
        -webkit-transform: translateX(-0.5px);
                transform: translateX(-0.5px);
    }

    100% {
        -webkit-transform: translateX(1px);
                transform: translateX(1px);
    }

}




.slarge-percent-width-1 {
}




.slarge-percent-width-1-2 {
}




.slarge-percent-width-1-3 {
}




.slarge-percent-width-2-3 {
}




.slarge-percent-width-1-4 {
}




.slarge-percent-width-3-4 {
}




.slarge-percent-width-1-5 {
}




.slarge-percent-width-2-5 {
}




.slarge-percent-width-3-5 {
}




.slarge-percent-width-4-5 {
}




.slarge-percent-width-1-6 {
}




.slarge-percent-width-5-6 {
}




.slarge-percent-width-1-8 {
}




.slarge-percent-width-3-8 {
}




.slarge-percent-width-5-8 {
}




.slarge-percent-width-7-8 {
}




.slarge-percent-width-1-10 {
}




.slarge-percent-width-3-10 {
}




.slarge-percent-width-7-10 {
}




.slarge-percent-width-9-10 {
}




.slarge-percent-width-1-12 {
}




.slarge-percent-width-5-12 {
}




.slarge-percent-width-7-12 {
}




.slarge-percent-width-11-12 {
}




/* Viewport */




.slarge-viewport-width-1 {
}




.slarge-viewport-width-1-2 {
}




.slarge-viewport-width-1-3 {
}




.slarge-viewport-width-2-3 {
}




.slarge-viewport-width-1-4 {
}




.slarge-viewport-width-3-4 {
}




.slarge-viewport-width-1-5 {
}




.slarge-viewport-width-2-5 {
}




.slarge-viewport-width-3-5 {
}




.slarge-viewport-width-4-5 {
}




.slarge-viewport-width-1-6 {
}




.slarge-viewport-width-5-6 {
}




.slarge-viewport-width-1-8 {
}




.slarge-viewport-width-3-8 {
}




.slarge-viewport-width-5-8 {
}




.slarge-viewport-width-7-8 {
}




.slarge-viewport-width-1-10 {
}




.slarge-viewport-width-3-10 {
}




.slarge-viewport-width-7-10 {
}




.slarge-viewport-width-9-10 {
}




.slarge-viewport-width-1-12 {
}




.slarge-viewport-width-5-12 {
}




.slarge-viewport-width-7-12 {
}




.slarge-viewport-width-11-12 {
}




* {
  /*transition: 0.4s;*/
}




body, #app {
  /*height: @ml 100vh;*/
  /*overflow: @ml hidden;*/
  /*background-color: #f2f2f2;*/
}




.slarge-font-impact {
}




.slarge-font-hind-guntur {
}




.slarge-font-open-sans {
}




.slarge-border-radius-2 {
  border-radius: 2px;
}




.slarge-overflow-y-scroll {
  overflow-y: scroll;
}




.main-header {
  width: calc(193 / 1366 * 100vw);
  height: calc(397 / 768 * 100vh);

  z-index: 10;

  border: 0px solid #faf5f6;
  border-right-width: 1px;
  border-bottom-width: 1px;
  /*box-shadow: 10px 10px 100px #faf5f6;*/
}




.slarge-nav-link-tag::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1em;
  height: 2px;
  background-color: #ff4d45;

  -webkit-transform: translateX(-100%);

          transform: translateX(-100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}




.slarge-nav-link-tag::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;

  color: #ff4d45;
  width: 0px;
  overflow: hidden;
  /*height: 2px;*/
  /*background-color: #ff4d45;*/

  /*transform: translateX(-100%);*/
  -webkit-transition: all 1s;
  transition: all 1s;
}




.slarge-nav-link-tag:hover::before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}




.slarge-nav-link-tag:hover::after {
  width: 100%;
}




.slarge-above-fold-article {
  width: calc(618 / 1366 * 100vw);
  height: calc(591 / 768 * 100vh);
  /*box-shadow: 5px 5px 100px #f5f5f8;*/
}




.slarge-article {
  position: absolute;
  top: 0;
  left: 0;
  /*opacity: 0;*/
  /*transition: @ml all 1s;*/
  visibility: hidden;
  /*transform: translateX(50%);*/
  /*transition: @ml all 0.6s 0.4s;*/
}




.slarge-article.active {
  /*opacity: 1;*/
  /*transform: translateX(0%);*/
  visibility: visible;
}




.slarge-article-padding {
}




.slarge-article-animate > div {
  opacity: 0;
  -webkit-transform: translateX(-13%);
          transform: translateX(-13%);
  -webkit-transition: all 0.7s 0.3s;
  transition: all 0.7s 0.3s;
}




.slarge-article.active .slarge-article-animate > div {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}




.slarge-article-feature-image-above-fold-animation {
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: opacity 0.6s 0.2s, -webkit-transform 0.8s;
  transition: opacity 0.6s 0.2s, -webkit-transform 0.8s;
  transition: transform 0.8s, opacity 0.6s 0.2s;
  transition: transform 0.8s, opacity 0.6s 0.2s, -webkit-transform 0.8s;
}




.slarge-article.active .slarge-article-feature-image-above-fold-animation {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}




.slarge-article-animate::after, .slarge-article-feature-image-above-fold-animation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: currentColor;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}




.slarge-article.active .slarge-article-animate::after, .slarge-article.active .slarge-article-feature-image-above-fold-animation:after {
  -webkit-animation: slide-out 0.8s cubic-bezier(0.77,0,0.18,1) forwards;
          animation: slide-out 0.8s cubic-bezier(0.77,0,0.18,1) forwards;
}




@-webkit-keyframes slide-out {
  0% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  40% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  60% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}




@keyframes slide-out {
  0% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  40% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  60% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}




.slarge-article-heading {
  line-height: 1;
}




.slarge-article-heading-after-line::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 0.5em;
  height: 6px;
  background-color: #ff4d45;
}




.slarge-featured-article {
  /*max-height: 80vh;*/
  /*overflow: hidden;*/
  margin: 4rem 0rem 6rem;
}




.slarge-featured-article > div {
}




.slarge-article-feature-image-above-fold {
  position: absolute;
  right: 0;
  top: 100px;
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
  /*box-shadow: -30px 0px 20px rgba(0, 0, 0, 0.05);*/
}




.slarge-article-feature-image-dimensions {
  width: 261px;
  height: 348px;
}




.slarge-article-feature-image-border {
  border: 20px solid rgba(43, 03, 65, 0.46);
}




.slarge-article-feature-image-background {
  /*background-image: url("");*/
}




.slarge-article-feature-image-normal-position {
  position: absolute;
  top: 0;
  right: 0;
}




.slarge-work-image-dimensions {
  height: calc(26.6vw * 3 / 4);
  /*width: 400px;*/
}




.slarge-article-feature-image-shadow {
  /*box-shadow: @ml -20px 0px 40px rgba(0, 0, 0, 0.065);*/
}




.slarge-article-feature-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  color: inherit;
  background-color: currentColor;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: scaleX(0.075) scaleY(0);
          transform: scaleX(0.075) scaleY(0);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 2;
}




.slarge-article-feature-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #fff;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: all 0.4s cubic-bezier(0.77,0,0.18,1);
  transition: all 0.4s cubic-bezier(0.77,0,0.18,1);

  z-index: 1;
}




.slarge-featured-articles-header {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}




.slarge-featured-articles-header.scrolled-in {
  -webkit-transform: translateY(23rem);
          transform: translateY(23rem);
}




.slarge-featured-articles-heading {
  -webkit-transform-origin: 15px top;
          transform-origin: 15px top;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}




.slarge-featured-articles-header:hover .slarge-featured-articles-heading {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}




.slarge-featured-article.scrolled-in:hover .slarge-article-feature-image::after {
  -webkit-animation: featured-image-hovered 0.5s cubic-bezier(0.77,0,0.18,1) forwards;
          animation: featured-image-hovered 0.5s cubic-bezier(0.77,0,0.18,1) forwards;
}




.slarge-featured-article.scrolled-in:hover .slarge-article-feature-image::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}




.scrolled-in .slarge-article-feature-image::after {
  -webkit-animation: featured-image-scroll-in 1s 0.4s cubic-bezier(0.77,0,0.18,1) forwards;
          animation: featured-image-scroll-in 1s 0.4s cubic-bezier(0.77,0,0.18,1) forwards;
}




.slarge-featured-article-meta {
  opacity: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}




.slarge-featured-article:hover .slarge-featured-article-meta {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}




@-webkit-keyframes featured-image-scroll-in {
  0% {
    -webkit-transform: scaleX(0.075) scaleY(0);
            transform: scaleX(0.075) scaleY(0);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
  50% {
    -webkit-transform: scaleX(0.075) scaleY(1);
            transform: scaleX(0.075) scaleY(1);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
  100% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}




@keyframes featured-image-scroll-in {
  0% {
    -webkit-transform: scaleX(0.075) scaleY(0);
            transform: scaleX(0.075) scaleY(0);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
  50% {
    -webkit-transform: scaleX(0.075) scaleY(1);
            transform: scaleX(0.075) scaleY(1);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
  100% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}




@-webkit-keyframes featured-image-hovered {
  0% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}




@keyframes featured-image-hovered {
  0% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}




/* Agnostic */




.vertical-align-middle > * {
  vertical-align: middle
}




.vertical-align-top > * {
  vertical-align: top
}




.vertical-align-bottom > * {
  vertical-align: baseline;
}




@media (min-width: 769px) {




  .slarge-t-left {
    text-align: left
  }




  .slarge-t-middle {
    text-align: center
  }




  .slarge-t-right {
    text-align: right
  }




  .slarge-bkgrnd-white {
    background-color: #fff
  }




  .slarge-bkgrnd-secondary-white {
    background-color: #faf5f6
  }




  .slarge-bkgrnd-light-grey {
    background-color: #f2f2f2
  }




  .slarge-bkgrnd-blue {
    background-color: #448dde
  }




  .slarge-bkgrnd-yellow {
    background-color: #f9b202
  }




  .slarge-bkgrnd-green {
    background-color: #64c073
  }




  .slarge-bkgrnd-light-blue {
    background-color: #d3e4ff
  }




  .slarge-bkgrnd-grey {
    background-color: #e6e6e6
  }




  .slarge-bkgrnd-dark {
    background-color: #5a3F6F
  }




  .slarge-bkgrnd-red {
    background-color: #F15E5C
  }




  .slarge-bkgrnd-black {
    background-color: #333
  }




  .slarge-percent-height-100 {
    height: 100%
  }




  .slarge-percent-height-90 {
    height: 90%
  }




  .slarge-percent-height-80 {
    height: 80%
  }




  .slarge-percent-height-70 {
    height: 70%
  }




  .slarge-percent-height-60 {
    height: 60%
  }




  .slarge-percent-height-50 {
    height: 50%
  }




  .slarge-percent-height-40 {
    height: 40%
  }




  .slarge-percent-height-30 {
    height: 30%
  }




  .slarge-percent-height-20 {
    height: 20%
  }




  .slarge-percent-height-10 {
    height: 10%
  }




  .slarge-viewport-height-100 {
    height: 100vh
  }




  .slarge-viewport-height-90 {
    height: 90vh
  }




  .slarge-viewport-height-80 {
    height: 80vh
  }




  .slarge-viewport-height-70 {
    height: 70vh
  }




  .slarge-viewport-height-60 {
    height: 60vh
  }




  .slarge-viewport-height-50 {
    height: 50vh
  }




  .slarge-viewport-height-40 {
    height: 40vh
  }




  .slarge-viewport-height-30 {
    height: 30vh
  }




  .slarge-viewport-height-20 {
    height: 20vh
  }




  .slarge-viewport-height-10 {
    height: 10vh
  }




  .slarge-z-index-0 {
    z-index: 0
  }




  .slarge-z-index-1 {
    z-index: 1
  }




  .slarge-z-index-2 {
    z-index: 2
  }




  .slarge-position-absolute {
    position: absolute
  }




  .slarge-position-fixed {
    position: fixed
  }




  .slarge-top-0 {
    top: 0
  }




  .slarge-left-0 {
    left: 0
  }




  .slarge-right-0 {
    right: 0
  }




  .slarge-bottom-0 {
    bottom: 0
  }




  .slarge-left-50percent {
    left: 50%
  }




  .slarge-top-50percent {
    top: 50%
  }




  .slarge-translate-x--50percent {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%)
  }




  .slarge-translate-x--50percent-y--50percent {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
  }




  .slarge-translate-y--50percent {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
  }




  .slarge-padding0125 {
    padding: 0.125rem
  }




  .slarge-padding025 {
    padding: 0.25rem
  }




  .slarge-padding {
    padding: 1rem
  }




  .slarge-padding05 {
    padding: 0.5rem
  }




  .slarge-padding2 {
    padding: 2rem
  }




  .slarge-padding4 {
    padding: 4rem
  }




  .slarge-padding6 {
    padding: 6rem
  }




  .slarge-padding8 {
    padding: 8rem
  }




  .slarge-padding-h05 {
    padding-left: 0.5rem
  }




  .slarge-padding-h05 {
    padding-right: 0.5rem
  }




  .slarge-padding-h {
    padding-left: 1rem
  }




  .slarge-padding-h {
    padding-right: 1rem
  }




  .slarge-padding-h2 {
    padding-left: 2rem
  }




  .slarge-padding-h2 {
    padding-right: 2rem
  }




  .slarge-padding-h4 {
    padding-left: 4rem
  }




  .slarge-padding-h4 {
    padding-right: 4rem
  }




  .slarge-padding-h6 {
    padding-left: 6rem
  }




  .slarge-padding-h6 {
    padding-right: 6rem
  }




  .slarge-padding-v05 {
    padding-top: 0.5rem
  }




  .slarge-padding-v05 {
    padding-bottom: 0.5rem
  }




  .slarge-padding-v {
    padding-top: 1rem
  }




  .slarge-padding-v {
    padding-bottom: 1rem
  }




  .slarge-padding-v2 {
    padding-top: 2rem
  }




  .slarge-padding-v2 {
    padding-bottom: 2rem
  }




  .slarge-padding-v4 {
    padding-top: 4rem
  }




  .slarge-padding-v4 {
    padding-bottom: 4rem
  }




  .slarge-padding-v6 {
    padding-top: 6rem
  }




  .slarge-padding-v6 {
    padding-bottom: 6rem
  }




  .slarge-padding-h-right05 {
    padding-right: 0.5rem
  }




  .slarge-padding-h-right {
    padding-right: 1rem
  }




  .slarge-padding-h-right2 {
    padding-right: 2rem
  }




  .slarge-padding-h-right4 {
    padding-right: 4rem
  }




  .slarge-padding-h-left05 {
    padding-left: 0.5rem
  }




  .slarge-padding-h-left {
    padding-left: 1rem
  }




  .slarge-padding-h-left2 {
    padding-left: 2rem
  }




  .slarge-padding-h-left4 {
    padding-left: 4rem
  }




  .slarge-padding-v-bottom05 {
    padding-bottom: 0.5rem
  }




  .slarge-padding-v-bottom {
    padding-bottom: 1rem
  }




  .slarge-padding-v-bottom2 {
    padding-bottom: 2rem
  }




  .slarge-padding-v-bottom4 {
    padding-bottom: 4rem
  }




  .slarge-padding-v-bottom6 {
    padding-bottom: 6rem
  }




  .slarge-padding-v-bottom8 {
    padding-bottom: 8rem
  }




  .slarge-padding-v-top05 {
    padding-top: 0.5rem
  }




  .slarge-padding-v-top {
    padding-top: 1rem
  }




  .slarge-padding-v-top2 {
    padding-top: 2rem
  }




  .slarge-padding-v-top4 {
    padding-top: 4rem
  }




  .slarge-padding-v-top6 {
    padding-top: 6rem
  }




  .slarge-padding-v-top8 {
    padding-top: 8rem
  }




  .slarge-margin {
    margin: 1rem
  }




  .slarge-margin2 {
    margin: 2rem
  }




  .slarge-margin4 {
    margin: 4rem
  }




  .slarge-margin-h05 {
    margin-left: 0.5rem
  }




  .slarge-margin-h05 {
    margin-right: 0.5rem
  }




  .slarge-margin-h {
    margin-left: 1rem
  }




  .slarge-margin-h {
    margin-right: 1rem
  }




  .slarge-margin-h2 {
    margin-left: 2rem
  }




  .slarge-margin-h2 {
    margin-right: 2rem
  }




  .slarge-margin-h4 {
    margin-left: 4rem
  }




  .slarge-margin-h4 {
    margin-right: 4rem
  }




  .slarge-margin-v05 {
    margin-top: 0.5rem
  }




  .slarge-margin-v05 {
    margin-bottom: 0.5rem
  }




  .slarge-margin-v {
    margin-top: 1rem
  }




  .slarge-margin-v {
    margin-bottom: 1rem
  }




  .slarge-margin-v2 {
    margin-top: 2rem
  }




  .slarge-margin-v2 {
    margin-bottom: 2rem
  }




  .slarge-margin-v4 {
    margin-top: 4rem
  }




  .slarge-margin-v4 {
    margin-bottom: 4rem
  }




  .slarge-margin-v6 {
    margin-top: 6rem
  }




  .slarge-margin-v6 {
    margin-bottom: 6rem
  }




  .slarge-margin-h-right {
    margin-right: 1rem
  }




  .slarge-margin-h-right2 {
    margin-right: 2rem
  }




  .slarge-margin-h-right4 {
    margin-right: 4rem
  }




  .slarge-margin-h-left {
    margin-left: 1rem
  }




  .slarge-margin-h-left2 {
    margin-left: 2rem
  }




  .slarge-margin-h-left4 {
    margin-left: 4rem
  }




  .slarge-margin-v4 {
    margin-bottom: 4rem
  }




  .slarge-margin-v-bottom05 {
    margin-bottom: 0.5rem
  }




  .slarge-margin-v-bottom {
    margin-bottom: 1rem
  }




  .slarge-margin-v-bottom2 {
    margin-bottom: 2rem
  }




  .slarge-margin-v-bottom4 {
    margin-bottom: 4rem
  }




  .slarge-margin-v-top {
    margin-top: 1rem
  }




  .slarge-margin-v-top2 {
    margin-top: 2rem
  }




  .slarge-margin-v-top4 {
    margin-top: 4rem
  }




  .slarge-margin-v-top6 {
    margin-top: 6rem
  }




  html, body {
    font-size: 12px
  }




  html, body {
    font-size: calc(14px + 4 * ((100vw - 768px) / 2560))
  }




  .icon-medium-size {
    font-size: 2rem
  }




  .icon-normal-size {
    font-size: 1.4286rem
  }




  .icon-small-size {
    font-size: 1.1429rem
  }




  .icon-tiny-size {
    font-size: 0.8rem
  }




  .slarge-uppercase {
    text-transform: uppercase
  }




  .slarge-capitalize {
    text-transform: capitalize
  }




  .slarge-underline {
    text-decoration: underline
  }




  .slarge-strikethrough {
    text-decoration: line-through
  }




  .slarge-bold {
    font-weight: 700
  }




  .slarge-medium {
    font-weight: 500
  }




  .slarge-normalweight {
    font-weight: 400
  }




  .slarge-slim {
    font-weight: 200
  }




  .slarge-thin {
    font-weight: 100
  }




  .slarge-wide-spacing {
    letter-spacing: 2px
  }




  .slarge-medium-spacing {
    letter-spacing: 1.6px
  }




  .slarge-medium-spacing {
    word-spacing: 0.125em
  }




  .slarge-small-spacing {
    letter-spacing: 1.2px
  }




  .slarge-neg-spacing {
    letter-spacing: -0.2px
  }




  .slarge-line-height-small {
    line-height: 1.2
  }




  .slarge-line-height-medium {
    line-height: 1.7
  }




  .slarge-line-height-large {
    line-height: 2
  }




  .slarge-alternate-font {
    font-family: Libre Baskerville,serif
  }




  .slarge-type-extra-large {
    font-size: 6.7rem
  }




  .slarge-type-very-large {
    font-size: 5rem
  }




  .slarge-type-large {
    font-size: 3.4rem
  }




  .slarge-type-low-large {
    font-size: 2.6rem
  }




  .slarge-type-moremedium {
    font-size: 1.8rem
  }




  .slarge-type-medium {
    font-size: 1.4rem
  }




  .slarge-type-normal {
    font-size: 1.2rem
  }




  .slarge-type-small {
    font-size: 1rem
  }




  .slarge-type-very-small {
    font-size: 0.8rem
  }




  .slarge-border-1px-dotted {
    border: 1px dotted #f0f0f4
  }




  .slarge-border-1px-bottom {
    border-bottom: 1px solid #f0f0f4
  }




  .slarge-border-bottom-width-1 {
    border-bottom-width: 1px
  }




  .slarge-border-1px-left {
    border-left: 1px solid #f0f0f4
  }




  .slarge-border-1px-right {
    border-right: 1px solid #f0f0f4
  }




  .slarge-border-1px-top {
    border-top: 1px solid #f0f0f4
  }




  .slarge-border-1px-bottom {
    border-bottom: 1px solid #f0f0f4
  }




  .dsktp-largeborder {
    border: 4px solid
  }




  .dsktp-largeborder-dotted {
    border: 4px dashed
  }




  .dsktp-largeborder-bottom {
    border-bottom: 4px solid
  }




  .dsktp-largeborder-left {
    border-left: 4px solid
  }




  .dsktp-largeborder-right {
    border-right: 4px solid
  }




  .dsktp-largeborder-top {
    border-top: 4px solid
  }




  .dsktp-mediumborder {
    border-width: 2px
  }




  .dsktp-border-grey {
    border-color: #f0f0f4
  }




  .dsktp-border-dark-grey {
    border-color: #d0d0d0
  }




  .dsktp-border-blue {
    border-color: #448dde
  }




  .dsktp-border-dark {
    border-color: #404040
  }




  .dsktp-border-red {
    border-color: #e82110
  }




  .dsktp-border-green {
    border-color: #64c073
  }




  .dsktp-default-radius-small {
    border-radius: 0.2rem
  }




  .dsktp-default-radius {
    border-radius: 2rem
  }




  .slarge-box-shadow-large {
    -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.05);
            box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.05)
  }




  .slarge-box-shadow-bottom {
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05)
  }




  .slarge-circle {
    border-radius: 50%
  }




  .slarge-icon-square-very-small {
    height: 1.4rem
  }




  .slarge-icon-square-very-small {
    width: 1.4rem
  }




  .slarge-icon-square-small {
    height: 2rem
  }




  .slarge-icon-square-small {
    width: 2rem
  }




  .slarge-transition-short {
    -webkit-transition: all 0.2s;
    transition: all 0.2s
  }




  .slarge-transition-normal {
    -webkit-transition: all 0.4s;
    transition: all 0.4s
  }




  .slarge-transition-long {
    -webkit-transition: all 1s;
    transition: all 1s
  }




  .slarge-percent-width-1 {
    width: 100%
  }




  .slarge-percent-width-1-2 {
    width: 50%
  }




  .slarge-percent-width-1-3 {
    width: 33.3333%
  }




  .slarge-percent-width-2-3 {
    width: 66.6667%
  }




  .slarge-percent-width-1-4 {
    width: 25%
  }




  .slarge-percent-width-3-4 {
    width: 75%
  }




  .slarge-percent-width-1-5 {
    width: 20%
  }




  .slarge-percent-width-2-5 {
    width: 40%
  }




  .slarge-percent-width-3-5 {
    width: 60%
  }




  .slarge-percent-width-4-5 {
    width: 80%
  }




  .slarge-percent-width-1-6 {
    width: 16.6667%
  }




  .slarge-percent-width-5-6 {
    width: 83.3333%
  }




  .slarge-percent-width-1-8 {
    width: 12.5%
  }




  .slarge-percent-width-3-8 {
    width: 37.5%
  }




  .slarge-percent-width-5-8 {
    width: 62.5%
  }




  .slarge-percent-width-7-8 {
    width: 87.5%
  }




  .slarge-percent-width-1-10 {
    width: 10%
  }




  .slarge-percent-width-3-10 {
    width: 30%
  }




  .slarge-percent-width-7-10 {
    width: 70%
  }




  .slarge-percent-width-9-10 {
    width: 90%
  }




  .slarge-percent-width-1-12 {
    width: 8.3333%
  }




  .slarge-percent-width-5-12 {
    width: 41.6667%
  }




  .slarge-percent-width-7-12 {
    width: 58.3333%
  }




  .slarge-percent-width-11-12 {
    width: 91.6667%
  }




  .slarge-viewport-width-1 {
    width: 100vw
  }




  .slarge-viewport-width-1-2 {
    width: 50vw
  }




  .slarge-viewport-width-1-3 {
    width: 33.3333vw
  }




  .slarge-viewport-width-2-3 {
    width: 66.6667vw
  }




  .slarge-viewport-width-1-4 {
    width: 25vw
  }




  .slarge-viewport-width-3-4 {
    width: 75vw
  }




  .slarge-viewport-width-1-5 {
    width: 20vw
  }




  .slarge-viewport-width-2-5 {
    width: 40vw
  }




  .slarge-viewport-width-3-5 {
    width: 60vw
  }




  .slarge-viewport-width-4-5 {
    width: 80vw
  }




  .slarge-viewport-width-1-6 {
    width: 16.6667vw
  }




  .slarge-viewport-width-5-6 {
    width: 83.3333vw
  }




  .slarge-viewport-width-1-8 {
    width: 12.5vw
  }




  .slarge-viewport-width-3-8 {
    width: 37.5vw
  }




  .slarge-viewport-width-5-8 {
    width: 62.5vw
  }




  .slarge-viewport-width-7-8 {
    width: 87.5vw
  }




  .slarge-viewport-width-1-10 {
    width: 10vw
  }




  .slarge-viewport-width-3-10 {
    width: 30vw
  }




  .slarge-viewport-width-7-10 {
    width: 70vw
  }




  .slarge-viewport-width-9-10 {
    width: 90vw
  }




  .slarge-viewport-width-1-12 {
    width: 8.3333vw
  }




  .slarge-viewport-width-5-12 {
    width: 41.6667vw
  }




  .slarge-viewport-width-7-12 {
    width: 58.3333vw
  }




  .slarge-viewport-width-11-12 {
    width: 91.6667vw
  }




  body, #app {
    width: 100vw
  }




  .slarge-font-impact {
    font-family: impact
  }




  .slarge-font-hind-guntur {
    font-family: Hind Guntur
  }




  .slarge-font-open-sans {
    font-family: Open Sans
  }




  .slarge-article {
    z-index: 0
  }




  .slarge-article.active {
    z-index: 1
  }




  .slarge-article-padding {
    padding: 120px 0em 0em
  }




  .slarge-featured-articles-header.scrolled-in {
    position: fixed
  }




  .slarge-featured-articles-header.scrolled-in {
    top: 100px
  }
}




@media (max-width: 768px) {




  .slarge-row {
    white-space: nowrap
  }




  .slarge-row > * {
    white-space: normal
  }
}




@media (max-width: 768px) {




  .inline-blks-container > *:nth-child(n+2) {
    margin-left: -4px
  }
}




@media (min-width: 769px) {




  .dsktp-inline-blks-container > *:nth-child(n+2) {
    margin-left: -4px
  }
}




@media (max-width: 768px) {




  .unfallable-row {
    white-space: nowrap;
  }




  .unfallable-row > * {
    display: inline-block;
    white-space: normal;
  }
}




@media (min-width: 769px) {




  .dsktp-row {
    white-space: nowrap;




    /*overflow: hidden;*/
  }




  .dsktp-row > * {
    display: inline-block;
    white-space: normal;
  }
}




@media (max-width: 768px) {




  .display-none {
    display: none;
  }




  .o-hidden {
    overflow: hidden;
  }




  .o-y-hidden {
    overflow-y: hidden;
  }




  .not-visible {
    visibility: none;
  }
}




@media (min-width: 769px) {




  .slarge-display-none {
    display: none;
  }




  .slarge-o-hidden {
    overflow: hidden;
  }




  .slarge-o-y-hidden {
    overflow-y: hidden;
  }




  .slarge-not-visible {
    visibility: hidden;
  }
}
