



/* =============================================================================
---------------------------------------LAYOUT-----------------------------------
==============================================================================*/




$dimension: 15px;

$1g: calc(100vw / 48);




/* =============================================================================
---------------------------------------COLORS-----------------------------------
==============================================================================*/


/*$secondarycolor: $(secondary_color);*/

$accentcolor: #B6D73E;

$contrastcolor: #1C63B5;

$color: #33383e;

/*$secondarycontrastcolor: $(secondary_contrast_color);*/

$greycolor: #e6e6e6;

/*$headingcolor: $(heading_color);*/

/*$bodytext: $(text_color);*/

/*$backgroundcolor: $(background_color);*/

$errcolor: #dba089;




$t-dark: #000;

$t-light: #fff;

$t-altdark: #34454E;



/* =============================================================================
------------------------------------MEDIAQUERIES--------------------------------
==============================================================================*/



$ms: (max-width: 768px);

$msplus: (max-width: 768px);

$mm: (min-width: 481px) and (max-width: 768px);

$ml: (min-width: 769px);

$mmplus: (min-width: 481px);

$mmmin: (max-width: 768px);






/* =============================================================================
------------------------------------LINES--------------------------------
==============================================================================*/



$mainborder: 5px;

$line: 3px;

$divider: 1px;
