








.smallborder {
    border: @ms 1px solid #f0f0f4;
}

.smallborder-dotted {
    border: @ms 1px dotted #f0f0f4;
}

.smallborder-bottom {
    border-bottom: @ms 1px solid #f0f0f4;
}

.smallborder-left {
    border-left: @ms 1px solid #f0f0f4;
}


.smallborder-right {
    border-right: @ms 1px solid #f0f0f4;
}

.smallborder-top {
    border-top: @ms 1px solid #f0f0f4;
}


.border-grey {
    border-color: @ms #f0f0f4;
}

.border-dark-grey {
    border-color: @ms #d0d0d0;
}


.border-blue {
    border-color: @ms #448dde;
}

.border-dark {
    border-color: @ms #404040;
}

.border-red {
    border-color: @ms #e82110;
}

.border-green {
    border-color: @ms #64c073;
}






.largeborder-dotted {
    border: @ms 4px dashed;
}

.largeborder-bottom {
    border-bottom: @ms 4px solid;
}

.largeborder-left {
    border-left: @ms 4px solid;
}

.largeborder-right {
    border-right: @ms 4px solid;
}

.largeborder-top {
    border-top: @ms 4px solid;
}

.mediumborder {
    border: 2px solid;
}

.default-radius-small {
    border-radius: @ms 0.2rem;
}

.default-radius {
    border-radius: @ms 2rem;
}





.dsktp-smallborder {
    border: @ml 1px solid #f0f0f4;
}

.dsktp-smallborder-dotted {
    border: @ml 1px dotted #f0f0f4;
}

.dsktp-smallborder-bottom {
    border-bottom: @ml 1px solid #f0f0f4;
}

.dsktp-smallborder-left {
    border-left: @ml 1px solid #f0f0f4;
}


.dsktp-smallborder-right {
    border-right: @ml 1px solid #f0f0f4;
}

.dsktp-smallborder-top {
    border-top: @ml 1px solid #f0f0f4;
}










.dsktp-largeborder {
    border: @ml 4px solid;
}

.dsktp-largeborder-dotted {
    border: @ml 4px dashed;
}

.dsktp-largeborder-bottom {
    border-bottom: @ml 4px solid;
}

.dsktp-largeborder-left {
    border-left: @ml 4px solid;
}

.dsktp-largeborder-right {
    border-right: @ml 4px solid;
}

.dsktp-largeborder-top {
    border-top: @ml 4px solid;
}

.dsktp-mediumborder {
    border-width: @ml 2px;
}




.dsktp-border-grey {
    border-color: @ml #f0f0f4;
}

.dsktp-border-dark-grey {
    border-color: @ml #d0d0d0;
}


.dsktp-border-blue {
    border-color: @ml #448dde;
}

.dsktp-border-dark {
    border-color: @ml #404040;
}

.dsktp-border-red {
    border-color: @ml #e82110;
}

.dsktp-border-green {
    border-color: @ml #64c073;
}



.dsktp-default-radius-small {
    border-radius: @ml 0.2rem;
}

.dsktp-default-radius {
    border-radius: @ml 2rem;
}



@media (max-width: 768px) {

    .display-none {

        display: none;
    }

    .o-hidden {

        overflow: hidden;
    }

    .o-y-hidden {

        overflow-y: hidden;
    }

    .not-visible {

        visibility: none;
    }
}

@media (min-width: 769px) {

    .dsktp-display-none {

        display: none;
    }

    .dsktp-o-hidden {

        overflow: hidden;
    }

    .dsktp-o-y-hidden {

        overflow-y: hidden;
    }

    .dsktp-not-visible {

        visibility: hidden;
    }
}


.half-transparent {

    opacity: 0.5;
}

.nearly-transparent {

    opacity: 0.1;
}

.twenty-transparent {

    opacity: 0.2;
}



.slightly-transparent {

    opacity: 0.88;
}

.small-box-shadow {

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05), -1px 0px 2px rgba(0, 0, 0, 0.05);

}

.card-box-shadow {

    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.05);
}

.card-box-shadow-bottom {

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}

.circle {

    border-radius: 50%;
}

.pointer {

    cursor: pointer;
}

.icon-square-small {
    height: 2rem;
    width: 2rem;
}

.icon-square-normal {
    height: 3rem;
    width: 3rem;
}

.icon-square-medium {
    height: 4rem;
    width: 4rem;
}

.icon-square-large {
    height: 6rem;
    width: 6rem;
}

.transition-short {

    transition: 0.2s;
}


.emerge:hover {

    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.transition-short {

    transition: all 0.2s;
}

.transition-normal {

    transition: all 0.4s
}

.transition-long {

    transition: all 1s
}

.vibrate:hover {
    animation: vibrate 0.1s ease-out 3;
}

@keyframes vibrate {

    0% {
        transform: translateX(-0.5px);
    }

    100% {
        transform: translateX(1px);
    }

}
