<template>
  <div id="app">
    <home></home>
  </div>
</template>

<script>
// import Hello from './components/Hello'
import Home from './pages/home'
const masterCss = require('css/master.css')
const ionicCSS = require('css/ionic.css')

export default {
  name: 'app',
  components: {
    Home
  },
  created () {
    window.FNG = {}
    window.FNG.data = {

    }
    window.FNG.events = {
      windowScroll: []
    }
    window.FNG.funcs = {
      throttle: function throttle(callback, wait, context = this) {
        let timeout = null
        let callbackArgs = null

        const later = () => {
          callback.apply(context, callbackArgs)
          timeout = null
        }

        return function() {
          if (!timeout) {
            callbackArgs = arguments
            timeout = setTimeout(later, wait)
          }
        }
      },
      on (eventName, obj) {
        if (FNG.events[eventName]) {
          FNG.events[eventName].push(obj)
        }
      },
      emit (eventName, data) {
        if (FNG.events[eventName]) {
          FNG.events[eventName].forEach((obj) => {
            // if (data.scrollTop < obj.max && data.scrollTop > obj.min) {
              obj.callback(data)
              return
            // }
            // if (data.scrollTop === 0) {
            //   obj.callback(data)
            //   return
            // }
          })
        }
      }
    }
    const windowScrollHandler = FNG.funcs.throttle((function (e) {
      let previousScroll = window.pageYOffset
      return (e) => {
        let currentScroll = window.pageYOffset
        FNG.funcs.emit("windowScroll", {
          direction: currentScroll > previousScroll ? "down" : "up",
          scrollTop: currentScroll
        })
        previousScroll = currentScroll
      }
    }()), 1000/60)
    window.addEventListener('scroll', windowScrollHandler, false)
  }
}
</script>

<style>

</style>
